<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <h3>로그인</h3>
    <form action="/login" th:action method="post">
        <div>
            <div>
                <label for="id" >ID</label>
                <input type="text" id="id" name="id" size="20">
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" id="password" name="password" size="20">
            </div>
        </div>
        <button type="submit">로그인</button>
    </form>
    <a href="/membership">회원 가입</a>
</body>