<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
    <link href="/styles/originalBodyStyle.css" rel="stylesheet"/>
    <link href="/styles/user/mainPage/headerStyle.css" rel="stylesheet"/>
    <link href="/styles/user/mainPage/bodyStyle.css" rel="stylesheet"/>
    <link href="/styles/user/mainPage/footerStyle.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="headerWrapperDiv">
            <div class="headerTopDiv">
                <div class="headerTopLeftDiv">
                    <!-- Empty Grid -->
                </div>
                <div class="headerTopMiddleDiv">
                    <h1>힉스뷰</h1>
                </div>
                <div class="headerTopRightDiv">
                    <a href="/login">로그인</a>
                </div>
            </div>
            <div class="headerMiddleDiv">
                <nav class="headerNavigator">
                    <ul>
                        <li><a href="/company">기업</a></li>
                        <li><a href="/industry">산업</a></li>
                        <li><a href="/economy">경제</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section style="height: 800px;"> <!-- TODO: 추후 바디 부분 코드 추가 요망 -->
    </section>
    <footer>
        <div class="footerWrapperDiv">
            <div class="footerTopDiv">
                <nav class="footerNavigator">
                    <ul>
                        <li><a href="/introduce">사이트 소개</a></li>
                        <li><a href="/notify">공지 사항</a></li>
                        <li><a href="/question-answer">자주 묻는 질문</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>