<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
    <link href="/styles/originalBodyStyle.css" rel="stylesheet"/>
    <link href="/styles/user/userMainPageHeaderStyle.css" rel="stylesheet">
</head>
<body>
    <header>
        <div id="headerWrapperDiv">
            <div id="headerTopDiv">
                <div id="headerTopLeftDiv">
                    <!-- Empty Grid -->
                </div>
                <div id="headerTopMiddleDiv">
                    <h1>힉스뷰</h1>
                </div>
                <div id="headerTopRightDiv">
                    <a href="/login">로그인</a>
                </div>
            </div>
            <div id="headerMiddleDiv">
                <nav id="userMainPageNavigator">
                    <ul>
                        <li><a href="/company">기업</a></li>
                        <li><a href="/industry">산업</a></li>
                        <li><a href="/economy">경제</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
    </section>
    <footer>
        <nav>
        </nav>
    </footer>
</body>
</html>