<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>타임라인 뷰어 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <div>
            <h3>타임라인 뷰어</h3>
            <h4>우리나라 경제사에 있었던 일을 한눈에 확인하세요.</h4>
            <p>
                <a href="/company">기업</a>
            </p>
            <p>
                <a href="/membership">회원 가입</a>
            </p>
        </div>
    </div>
</body>
</html>
