<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h3>힉스뷰</h3>
        <div>
            <p>마이 페이지 기능</p>
            <nav>
                <a href="/membership">회원 가입</a>
            </nav>
        </div>
        <nav>
            <a href="/company">기업</a>
        </nav>
    </header>
    <section>

    </section>
    <footer>
        <nav>
        </nav>
    </footer>
</body>
</html>
