.intro-add-form {
    display: flex;
    width: 95vw;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: black;
}

#addForm {
    display: flex;
    width: 95vw;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    flex-flow: column nowrap;
    border: 2px solid black;
    border-collapse: collapse;
}

#addForm #add-form-items {
    display: flex;
    width: inherit;
    flex-flow: column nowrap;
}

#addForm #add-form-items .add-form-item {
    display: flex;
    width: inherit;
}

#addForm #add-form-items div:nth-child(n+1) {
    margin-top: 0.5rem;
}

#addForm #add-form-items .add-form-item label,
#addForm #add-form-items .add-form-item input {
    margin-right: 0.5rem;
}

#addForm .add-form-buttons {
    display: flex;
    width: inherit;
    margin-top: 0.5rem;
}

#addForm .add-form-buttons #addBtn-subjectSecondCategory,
#addForm .add-form-buttons #removeBtn-subjectSecondCategory {
    margin-right: 1rem;
}