.section-main {
    display: flex;
    width: calc(100vw - 14px);
}

.section-main .function-list-wrapper {
    display: flex;
    width: 90vw;
    margin: 1rem auto;
    font-size: 24px;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.function-list-wrapper .section-main-intro {
    display: flex;
    width: inherit;
    padding-left: 6px;
    font-size: 24px;
    font-weight: 700;
}

.function-list-wrapper .function-list {
    display: flex;
    width: inherit;
    margin-top: 2rem;
    padding-left: 4px;
    border: 2px solid black;
    border-collapse: collapse;
    flex-direction: column;
}

.function-list-wrapper .section-main ol:first-child {
    margin-top: 1rem;
}

.function-list-wrapper .function-list .function-intro {
    display: flex;
    width: inherit;
    font-size: 21px;
    font-weight: 500;
}

.function-list-wrapper .function-list .function-detailed-list {
    display: flex;
    width: inherit;
    font-size: 18px;
    font-weight: 400;
    flex-direction: column;
}

.function-detailed-list .number-of-data {
    display: flex;
    padding: 1rem 0;
    width: inherit;
    font-size: 18px;
    font-weight: 400;
}