.wrapper-select-table {
    display: table;
    width: 95vw;
    margin: 1rem auto;
    border: 3px outset #5A5BC7;
    border-collapse: separate;
    border-radius: 10px;    
    box-shadow: 2px 2px 3px 2px black;
    text-align: center;
}

.select-table {
    display: table;
    width: 85vw;
    margin: 0 auto 2rem;
    border: 3px outset #5A5BC7;
    border-collapse: separate;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 2px black;
}

.select-table caption {
    display: table-caption;
    margin: 2.5rem auto 3rem;
    padding: 4px;
    font-size: 20px;
    font-weight: 700;
    caption-side: top;
}

.select-table th {
    display: table-cell;
    padding: 1rem;
    border: 2px outset #5A5BC7;
    border-collapse: collapse;
    font-size: 18px;
    font-weight: 700;
}

.select-table td {
    display: table-cell;
    padding: 1rem;
    border: 2px outset #5A5BC7;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: 400;
}