<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <p class="intro-basic-form" th:text="|#{economy} #{article}를 #{function.correct}합니다.|"></p>
    <p class="intro-basic-form" th:text="|해당 #{article.number} 또는 #{article.name}과 일치하는 #{article}가 확인되었습니다.|"></p>
    <form id="basicForm" th:action="${updatePath}" th:object="${article}" method="POST">
        <div hidden class="txt-error-message" id="error-bean" th:value="#{BeanValidation}"></div>
        <div id="basicFormItems">
            <div class="basic-form-item">
                <label for="name" th:text="#{article.name}"></label>
                <input type="text" id="name" th:field="*{name}" size="20" readonly>
                <div hidden class="txt-error-message" id="error-name"></div>
            </div>
            <div class="basic-form-item">
                <label for="press" th:text="#{article.press}"></label>
                <input type="text" id="press" th:field="*{press}" size="20">
                <div hidden class="txt-error-message" id="error-press"></div>
            </div>
            <div class="basic-form-item">
                <label for="link" th:text="#{article.link}"></label>
                <input type="url" id="link" th:field="*{link}" size="20" readonly>
                <div hidden class="txt-error-message" id="error-link"></div>
            </div>
            <div class="basic-form-item">
                <label for="year" th:text="#{year}"></label>
                <input type="number" min="1900" max="2024" id="year" th:field="*{year}" size="4">
            </div>
            <div class="basic-form-item">
                <label for="month" th:text="#{month}"></label>
                <input type="number" min="1" max="12" id="month" th:field="*{month}" size="2">
            </div>
            <div class="basic-form-item">
                <label for="days" th:text="#{days}"></label>
                <input type="number" min="1" max="31" id="days" th:field="*{days}" size="2">
                <div hidden class="txt-error-message" id="error-date"></div>
            </div>
            <div class="basic-form-item">
                <label for="importance" th:text="#{article.importance}"></label>
                <input type="text" id="importance" th:field="*{importance}" size="20">
                <div hidden class="txt-error-message" id="error-importance"></div>
            </div>
            <div th:text="#{article.subjectCountry}"></div>
            <select class="basic-form-item basic-form-select-item" th:field="*{subjectCountry}">
                <option th:each="subjectCountry : ${subjectCountries}" th:value="${subjectCountry.name()}" th:text="${subjectCountry.value}"></option>
            </select>
            <div class="basic-form-item article-target-economy-content">
                <label for="targetEconomyContent0" th:text="|#{article.targetEconomyContent}0|"></label>
                <input type="text" id="targetEconomyContent0" size="20">
                <div hidden class="txt-error-message" id="error-targetEconomyContents"></div>
            </div>
        </div>
        <div class="basic-form-buttons">
            <button id="addBtn" type="button" th:text="|#{article.targetEconomyContent} #{function.add}|"></button>
            <button id="removeBtn" type="button" th:text="|#{article.targetEconomyContent} #{function.remove}|"></button>
            <button id="submitBtn" type="submit" th:text="#{function.correct}"></button>
        </div>
    </form>
</div>
<!--suppress HtmlUnknownAttribute -->
<div hidden id="container-data"
     th:data-target-economy-content-name="#{article.targetEconomyContent}"
     th:data-target-economy-content-json="${article.targetEconomyContents}">
</div>
<script defer type="module" src="/scripts/manager/processReceiveEconomyContent.js"></script>
<script defer type="module" src="/scripts/manager/processSubmitEconomyContent.js"></script>
</body>
</html>