<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:fragment="linkFragment" href="/styles/manager/data/finish-submit-style.css" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper-btn" th:fragment="buttonFragment">
        <form class="form-main-page" action="/manager" method="get">
            <button type="submit" th:text="|#{page.main}로 이동|"></button>
        </form>
        <!--suppress HtmlUnknownAttribute -->
        <form class="form-repeat-page" method="get"
              th:data-repeat-url="${repeatUrl}">
            <button id="repeatBtn" type="submit"
                th:text="|한 번 더 #{function.perform}|">
            </button>
        </form>
    </div>
    <script defer type="module" th:fragment="scriptFragment" src="/scripts/manager/navigateToRepeatPerforming.js"></script>
</body>
</html>