<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/main/user-membership-finish.css" rel="stylesheet"/>
</head>
<body>
<section>
    <div class="image-welcome">
        <div class="txt-welcome">환영합니다!</div>
        <div class="txt-welcome-details">[[${name}]]님의 [[#{member.membership}]]이 [[#{function.finish}]]되었습니다.</div>
        <div class="txt-welcome-details">이제 마음껏 [[#{site.name}]]를 즐겨보세요!</div>
    </div>
</section>
<script></script>
</body>
</html>