<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/main/user-membership.css" rel="stylesheet"/>
</head>
<body>
<section class="section-membership">
    <div class="intro-membership" th:text="#{member.membership}"></div>
    <div class="wrapper-membership-form">
        <form id="membershipForm" th:action th:object="${member}" method="post">
            <div class="membership-form-items">
                <div class="membership-form-item">
                    <label for="id">[[#{member.ID}]]</label>
                    <input type="text" id="id" th:field="*{id}" size="20">
                </div>
                <div class="membership-form-item">
                    <label for="password">[[#{member.PW}]]</label>
                    <input type="password" id="password" th:field="*{password}" size="20">
                </div>
                <div class="membership-form-item">
                    <label for="name">[[#{member.NAME}]]</label>
                    <input type="text" id="name" th:field="*{name}" size="20">
                </div>
                <div class="membership-form-item">
                    <label for="email">[[#{member.EMAIL}]]</label>
                    <input type="text" id="email" th:field="*{email}" size="13">
                </div>
            </div>
            <div class="txt-error-messages">
                <div class="txt-error-message" id="error-id"></div>
                <div class="txt-error-message" id="error-password"></div>
                <div class="txt-error-message" id="error-name"></div>
                <div class="txt-error-message" id="error-email"></div>
            </div>
            <button id="submitBtn" type="submit">[[#{function.register}]]</button>
        </form>
    </div>
</section>
<script defer type="module" src="/scripts/user/processSubmitMembership.js"></script>
</body>
</html>