<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/company/result/topMiddleComponentStyle.css" rel="stylesheet"/>
    <link href="/styles/user/company/result/bottomComponentStyle.css" rel="stylesheet"/>
</head>
<body>
    <section>
        <div class="topMiddleComponent">
            <div class="topComponent">
                <h3 th:text="${company.name}"></h3>
                <h5 th:text="${company.code}"></h5>
            </div>
            <div class="middleComponent"></div>
        </div>
        <div id="bottomComponent">
            <div id="bottomLeftComponent">
                <nl>
                    <nl>
                        <nl>
                            <li th:text="#{company.stockPrice}"></li>
                            <li></li>
                        </nl>
                        <nl>
                            <li th:text="#{company.marketCap}"></li>
                            <li></li>
                        </nl>
                    </nl>
                    <nl>
                        <nl>
                            <li th:text="#{company.52weekLow}"></li>
                            <li></li>
                        </nl>
                        <nl>
                            <li th:text="#{company.52weekHigh}"></li>
                            <li></li>
                        </nl>
                    </nl>
                    <nl>
                        <nl>
                            <li th:text="#{company.firstCategory}"></li>
                            <li></li>
                        </nl>
                        <nl>
                            <li th:text="#{company.secondCategory}"></li>
                            <li></li>
                        </nl>
                    </nl>
                    <nl>
                        <nl>
                            <li th:text="#{company.PER}"></li>
                            <li></li>
                        </nl>
                        <nl>
                            <li th:text="#{company.PBR}"></li>
                            <li></li>
                        </nl>
                    </nl>
                    <nl>
                        <nl>
                            <li th:text="#{company.ROE}"></li>
                            <li></li>
                        </nl>
                        <nl>
                            <li th:text="#{company.PEG}"></li>
                            <li></li>
                        </nl>
                    </nl>
                    <nl>
                        <nl>
                            <li th:text="#{company.EPS}"></li>
                            <li></li>
                        </nl>
                        <nl>
                            <li th:text="#{company.divPerShare}"></li>
                            <li></li>
                        </nl>
                    </nl>
                    <nl>
                        <nl>
                            <li th:text="#{company.payoutRatio}"></li>
                            <li></li>
                        </nl>
                        <nl>
                            <li th:text="#{company.divYieldRatio}"></li>
                            <li></li>
                        </nl>
                    </nl>
                </nl>
            </div>
            <div id="bottomRightComponent">
                <div>
                    <h5 th:text="|#{newest} #{article.news}|"></h5>
                    <nl>
                        <li></li>
                        <li></li>
                        <li></li>
                    </nl>
                    <h5 th:text="|#{newest.year} #{newest.quarter} TOP 3|"></h5>
                    <nl>
                        <li></li>
                        <li></li>
                        <li></li>
                    </nl>
                </div>
            </div>
        </div>
    </section>
    <script src="/scripts/user/module/DifferentlyShowedCompanyModule.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            adjustGridLayout();

            window.addEventListener('resize', adjustGridLayout);
        });
    </script>
</body>
</html>