<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/logoStyle.css" rel="stylesheet"/>
    <link href="/styles/user/company/search/bodyWrapperStyle.css" rel="stylesheet"/>       <!-- wrap the whole body -->
    <link href="/styles/user/company/search/bodySearchBoxStyle.css" rel="stylesheet"/>     <!-- wrap the top search box -->
    <link href="/styles/user/company/search/bodyCompanyListStyle.css" rel="stylesheet"/>   <!-- wrap the middle grid covering the companies -->
</head>
<body>
    <section>
        <div class="bodyWrapper">
            <div class="searchBoxWrapper">
                <div class="searchBox">
                    <form id="searchCompanyForm" method="get" th:action="@{|${companySearch}${codeOrName}|}">
                        <label for="codeOrName">[[#{company}]]</label>
                        <div>
                            <input type="text" id="codeOrName" name="codeOrName">
                            <div th:if="${error} != null" th:switch="${error}">
                                <span th:classappend="errorMessage" th:case="NotFoundCompanyError"
                                      th:text="|#{function.search}될 #{company}을 #{function.fillIn}해 주세요.|"></span>
                                <span th:classappend="errorMessage" th:case="notFoundCompanyError"
                                      th:text="|#{function.search}된 #{company}이 없습니다.|"></span>
                            </div>
                        </div>
                        <button type="submit">[[#{function.search}]]</button>
                    </form>
                </div>
            </div>
            <div class="companyListWrapper">
                <div class="firstLayer">
                    <div class="row1">
                        <h3>[[#{industry.semiconductor}]] 대표 [[#{company}]]</h3>
                        <p>삼성전자</p>
                        <a class="logo logoSamsungElectronics" th:href="@{|${companySearch}005930|}">
                        </a>
                        <p>SK하이닉스</p>
                        <a class="logo logoSKHynix" th:href="@{|${companySearch}000660|}">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>[[#{industry.electricVehicle}]] 대표 [[#{company}]]</h3>
                        <p>현대차</p>
                        <a class="logo logoHyundaiMotorCompany" th:href="@{|${companySearch}005380|}">
                        </a>
                        <p>기아</p>
                        <a class="logo logoKia" th:href="@{|${companySearch}000270|}">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>[[#{industry.secondaryBattery}]] 대표 [[#{company}]]</h3>
                        <p>LG에너지솔루션</p>
                        <a class="logo logoLGEnergySolution" th:href="@{|${companySearch}373220|}">
                        </a>
                        <p>삼성SDI</p>
                        <a class="logo logoSamsungSDI" th:href="@{|${companySearch}006400|}">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>[[#{industry.IT}]] 대표 [[#{company}]]</h3>
                        <p>NAVER</p>
                        <a class="logo logoNaver" th:href="@{|${companySearch}035420|}">
                        </a>
                        <p>카카오</p>
                        <a class="logo logoKakao" th:href="@{|${companySearch}035720|}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        let CompanyAddressConversion;

        if (window.location.pathname.includes('/company')) {
            import('/scripts/user/module/CompanyAddressConversion.js')
                .then((module) => {
                    CompanyAddressConversion = new module.default();
                    CompanyAddressConversion.init();
                })
                .catch((error) => console.error("Failed to load CompanyAddressConversion: ", error));
        }
    </script>
</body>
</html>