<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/logoStyle.css" rel="stylesheet"/>
    <link href="/styles/user/company/search/bodyWrapperStyle.css" rel="stylesheet"/>       <!-- wrap the whole body -->
    <link href="/styles/user/company/search/bodySearchBoxStyle.css" rel="stylesheet"/>     <!-- wrap the top search box -->
    <link href="/styles/user/company/search/bodyCompanyListStyle.css" rel="stylesheet"/>   <!-- wrap the middle grid covering the companies -->
</head>
<body>
    <section>
        <div class="bodyWrapper">
            <div class="searchBoxWrapper">
                <div class="searchBox">
                    <form id="searchCompanyForm" method="get"
                          action="/company/{nameOrCode}" th:action="@{|/company/${nameOrCode}|}">
                        <label for="nameOrCode">기업</label>
                        <input type="text" id="nameOrCode" name="nameOrCode">
                        <button type="submit">검색</button>
                    </form>
                </div>
            </div>
            <div class="companyListWrapper">
                <div class="firstLayer">
                    <div class="row1">
                        <h3>반도체 대표 기업</h3>
                        <p>삼성전자</p>
                        <a class="logo logoSamsungElectronics" href="/company/005930">
                        </a>
                        <p>SK하이닉스</p>
                        <a class="logo logoSKHynix" href="/company/000660">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>전기차 대표 기업</h3>
                        <p>현대차</p>
                        <a class="logo logoHyundaiMotorCompany" href="/company/005380">
                        </a>
                        <p>기아</p>
                        <a class="logo logoKia" href="/company/000270">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>2차전지 대표 기업</h3>
                        <p>LG에너지솔루션</p>
                        <a class="logo logoLGEnergySolution" href="/company/373220">
                        </a>
                        <p>삼성SDI</p>
                        <a class="logo logoSamsungSDI" href="/company/006400">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>IT 대표 기업</h3>
                        <p>NAVER</p>
                        <a class="logo logoNaver" href="/company/035420">
                        </a>
                        <p>카카오</p>
                        <a class="logo logoKakao" href="/company/035720">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        let CompanyAddressConversionModule;

        if (window.location.pathname.includes('/company')) {
            import('/scripts/user/module/CompanyAddressConversionModule.js')
                .then((module) => {
                    CompanyAddressConversionModule = new module.default();
                    CompanyAddressConversionModule.init();
                })
                .catch((error) => console.error("Failed to load CompanyAddressConversionModule: ", error));
        }
    </script>
</body>
</html>