/*
 * Top, Middle
 */
.topMiddleComponent {
    /*
     * block
     */

    /* empty space */
    margin: 80px auto 0px;
    
    /* positioning */
    display: grid;

    /* size */
    width: 70rem;
    height: 570px;

    /* 
     * flexbox layout
     */

    /* sorting */
    place-items: baseline start;

    grid-template-rows: 50px 500px;
    grid-template-columns: 70rem;
    grid-gap: 20px;
    grid-template-areas: 
        "top"
        "middle";
}

.topComponent {
    /*
     * block
     */

    /* positioning */
    display: flex;

    /* size */
    width: inherit;
    height: 50px;

    /*
     * Grid layout
     */
    grid-area: top;

    /* 
     * flexbox layout
     */

    /* sorting */
    place-items: baseline flex-start;
}

.topComponent > h3 {
    /* 
     * block
     */
       
    /* empty space */
    margin-right: 8px;

    /* positioning */
    display: inline-block;

    /*
     * inline
     */
    
    /* font */
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.topComponent > h5 {
    /* 
     * block
     */

    /* positioning */
    display: inline-block;

    /*
     * inline
     */
    
    /* font */
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
    
.middleComponent {
    /*
     * block
     */

    /* border */
    border: 2px solid black;
    border-collapse: collapse;

    /* positioning */
    display: grid;

    /* size */
    width: inherit;
    height: 500px;

    /*
     * Grid layout
     */

    /* sorting */
    place-items: center;

    grid-area: middle;
}

