<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <h3>관리자 인터페이스</h3>

        <p>기사 관련 기능(단일)</p>
        <ul>
            <li><a href="/manager/article/remove">단일 기사 삭제</a></li>
            <li><a href="/manager/article/add/single">단일 기사 등록</a></li>
        </ul>

        <p>기사 관련 기능(다수, subjectCompany 및 importance 고정)</p>
        <ul>
            <li><a href="/manager/article/add/multiple1">기사 동시 등록(단일 문자열 처리)</a></li>
        </ul>

        <p>회원 관련 기능</p>
        <ul>
            <li><a href="/manager/member/all">전체 회원 조회</a></li>
            <li><a href="/manager/member/remove">회원 제거</a></li>
        </ul>
    </div>
</body>
</html>