<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <h3>관리자 인터페이스</h3>
        <ol>
            <li>기업 기사 관련 기능</li>
            <ol>
                <li>단일</li> <!-- CREATE, DELETE 구현 -->
                <li><a th:href="${addSingleCompanyArticle}">단일 기사 등록</a></li>
                <li><a th:href="${removeCompanyArticle}">단일 기사 삭제</a></li>
                <li><a th:href="${updateCompanyArticle}">단일 기사 갱신</a></li>
            </ol>
            <ol>
                <li>다수</li> <!-- CREATE 구현 -->
                <li>
                    <a th:href="${addCompanyArticleWithString}">
                        기사 동시 등록(단일 문자열, subjectCompany 및 importance 고정)
                    </a>
                </li>
            </ol>
        </ol>
        <ol>
            <li>회원 관련 기능</li>
            <ol>
                <li>단일</li> <!-- DELETE 구현 -->
                <li><a th:href="${removeMember}">회원 제거</a></li>
            </ol>
            <ol>
                <li>다수</li> <!-- READ 구현 -->
                <li><a href="/manager/member/all">전체 회원 조회</a></li>
            </ol>
        </ol>
    </div>
</body>
</html>