<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>[[#{site.name}]] - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <h3>관리자 인터페이스</h3>
        <ol>
            <li th:text="|#{company} #{article} 관련 기능|"></li>
            <ol>
                <li th:text="#{database.data.single}"></li> <!-- CREATE, UPDATE, DELETE 구현 -->
                <li><a th:href="${addSingleCompanyArticle}" th:text="|#{database.data.single} #{article} #{function.add}|"></a></li>
                <li><a th:href="${updateCompanyArticle}" th:text="|#{database.data.single} #{article} #{function.update}|"></a></li>
                <li><a th:href="${removeCompanyArticle}" th:text="|#{database.data.single} #{article} #{function.remove}|"></a></li>
            </ol>
            <ol>
                <li>다수</li> <!-- CREATE, READ 구현 -->
                <li>
                    <a th:href="${addCompanyArticlesWithString}"
                       th:text="|#{database.data.multiple} #{article} #{function.add} (단일 문자열, subjectCompany 및 importance 고정)|">
                    </a>
                </li>
                <li>
                    <a th:href="${selectCompanyArticles}" th:text="|#{database.data.all} #{article} #{function.find}|"></a>
                </li>
            </ol>
        </ol>
        <ol>
            <li th:text="|#{company} 관련 기능|"></li>
            <ol>
                <li th:text="#{database.data.single}"></li>
                <li><a th:href="${addSingleCompany}" th:text="|#{database.data.single} #{company} #{function.add}|"></a></li>
                <li><a th:href="${updateCompany}" th:text="|#{database.data.single} #{company} #{function.update}|"></a></li>
                <li><a th:href="${removeCompany}" th:text="|#{database.data.single} #{company} #{function.remove}|"></a></li>
            </ol>
            <ol>
                <li>다수</li>
                <li>
                    <a th:href="${selectCompanies}" th:text="|#{database.data.all} #{company} #{function.find}|"></a>
                </li>
            </ol>
        </ol>
        <ol>
            <li th:text="|#{member} 관련 기능|"></li>
            <ol>
                <li th:text="#{database.data.single}"></li> <!-- DELETE 구현 -->
                <li><a th:href="${removeMember}" th:text="|#{database.data.single} #{member} #{function.remove}|"></a></li>
            </ol>
            <ol>
                <li>다수</li> <!-- READ 구현 -->
                <li><a th:href="${selectMembers}" th:text="|#{database.data.all} #{member} #{function.find}|"></a></li>
            </ol>
        </ol>
    </div>
</body>
</html>