.section-error {
    display: flex;
    width: calc(100vw - 14px);
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    flex-flow: column;
}

.section-error div:last-child {
    margin-top: 2rem;
}