.bodyWrapper {    
    /* 
     * block
     */
    
    /* empty space */
    margin: 0 auto;

    /* positioning */
    display: grid;

    /* size */
    width: calc(100vw - 14px);
    height: 800px;
    
    /* 
     * Grid layout
     */
    
    /* sorting */
    place-content: center;
    place-items: center;
    
    grid-gap: 0;
    grid-template-rows: 800px;
    grid-template-columns: calc(100vw - 14px);
}