@media screen and (max-width: 1450px) {
    body .section-main .container-main-top {
        width: inherit;
    }
     
    body .newest-wrapper {
        margin-bottom: 0;
        flex-flow: row wrap;
    }
    
    body .newest-wrapper .newest-clearLine {
        display: flex;
        position: static;
        width: 80vw;
        height: 1px;
    }
    
    body .newest-wrapper .newest-column:nth-child(-n+2) {
        margin-bottom: 4rem;
    }
    
    body .newest-wrapper .newest-column:last-child {
        width: 80vw;
        margin-bottom: 0;
        justify-content: space-around;
    }

    body .newest-wrapper .newest-column:last-child .newest-row {
        width: 300px;
        height: 300px;
    }
    
    body .newest-wrapper .newest-column:last-child .newest-row:first-child {
        margin-bottom: 0;
    }

    
    body .newest-wrapper .newest-column:last-child .newest-row .ad {
        width: inherit;
        height: inherit;
    }
    
    body .post-wrapper .post-blog {
        justify-content: center;
        flex-flow: row wrap;
    }
    
    body .post-blog .post-clearLine {
        display: flex;
        position: static;
        width: inherit;
        height: 1px;
    }
    
    body .post-blog .post-news {
        height: 400px;
    }
    
    body .post-blog .post-news .post-news-related {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 750px) {
    body .newest-wrapper .newest-column:last-child .newest-row:first-child {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 620px) {
    body .post-wrapper {
        width: inherit;
        min-width: 500px;
    }
    
    body .post-blog .post-news {
        height: 600px;
    }
    
    body .post-blog .post-news .post-news-related {
        margin-bottom: 0;
    }
}

.section-main {
    display: flex;
    width: calc(100vw - 14px);
    margin: 0 auto;
    flex-direction: column;
}

.section-main .container-main-top {
    display: flex;
    width: 80vw;
    margin: 6rem auto 4rem auto;
    align-items: center;
    flex-direction: column;
}

.newest-wrapper {
    display: flex;
    width: inherit;
    margin-bottom: 4rem;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

.newest-wrapper .newest-column {
    display: flex;
    width: 320px;
    flex-flow: row wrap;
}

.newest-wrapper .newest-clearLine {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
}

.newest-wrapper .newest-column .newest-row {
    display: flex;
    width: inherit;
    flex-flow: row wrap;
}

.newest-wrapper .newest-column .first-row {
    margin-bottom: 4rem;
}

.newest-wrapper .newest-column .newest-row .newest-title {
    display: flex;
    width: inherit;
    margin-bottom: 0.8rem;
    font-size: 21px;
    font-weight: 700;
    color: #2D2A40;
}

.newest-wrapper .newest-column .newest-row .ad {
    display: flex;
    width: inherit;
    border: 1px solid black;
    background: padding-box center/contain no-repeat transparent url(/images/main/testing.png);
}

.newest-info {
    display: flex;
    width: inherit;
    border: 2px solid #FFD700;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3.6px;
    flex-flow: row wrap;
}

.newest-info .text {
    display: flex;
    width: inherit;
    min-height: 52px;
    padding-left: 6px;
    color: #2D2A40;
    font-weight: 500;
    justify-self: flex-start;
    align-items: flex-start;
}

.newest-info .subject {
    min-height: 30px;
    font-size: 18px;
    font-weight: 700;
}

.newest-info .picture-wrapper {
    display: flex;
    width: inherit;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
}

.newest-info .picture-wrapper .picture {
    display: flex;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    background: padding-box center/contain no-repeat transparent;
}

.newest-info .newest-info-item:nth-child(-n+3) {
    border-bottom: 1px solid #C0C0C0;
}

.section-main .container-main-bottom {
    display: flex;
    width: inherit;
    background: #DCDCDC;
    flex-direction: column;
}

.post-wrapper {
    display: flex;
    width: 60vw;
    min-width: 600px;
    margin: 3rem auto;
    flex-direction: column;
}

.post-wrapper .post-title {
    display: flex;
    width: inherit;
    min-width: inherit;
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: 700;
}

.post-wrapper .post-subject-name {
    display: flex;
    width: inherit;
    min-width: inherit;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500;
}

.post-wrapper .post-blog {
    display: flex;
    width: inherit;
    min-width: inherit;
    padding: 2rem;
    border: 1.4px solid #696969;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3.6px;
    background-color: white;
    justify-content: space-between;
}

.post-blog .post-image {
    display: flex;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}

.post-blog .post-company {
    background: padding-box center/contain no-repeat transparent;
}

.post-blog .post-industry {
    background: padding-box center no-repeat transparent;
    background-size: 300px 300px;
}

.post-blog .post-economy {
    background: padding-box center no-repeat transparent;
    background-size: 300px 300px;
}

.post-blog .post-clearLine {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
}

.post-blog .post-news {
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: flex-start;
    align-content: space-around;
    flex-flow: row wrap;
}

.post-blog .post-news .post-news-related {
    display: flex;
    width: inherit;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.post-blog .post-news .post-news-item {
    display: flex;
    width: inherit;
    padding-left: 1rem;
}