.logo {
    background-attachment: local;
    background-clip: content-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.logo-hyundai-motor-company {
    background-image: url("/images/company/logo/hyundai_motor_company.png");
}

.logo-kakao {
    background-image: url("/images/company/logo/kakao.png");
}

.logo-kia {
    background-image: url("/images/company/logo/kia.png");
}

.logo-lg-energy-solution {
    background-image: url("/images/company/logo/lG_energy_solution.png");
}

.logo-naver {
    background-image: url("/images/company/logo/naver.png");
}

.logo-samsung-electronics {
    background-image: url("/images/company/logo/samsung_electronics.png");
}

.logo-samsung-sdi {
    background-image: url("/images/company/logo/samsung_sdi.png");
}

.logo-sk-hynix {
    background-image: url("/images/company/logo/sK_hynix.png");
}