.logo {
    background-attachment: local;
    background-clip: content-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.logo-hyundaiMotorCompany {
    background-image: url("/images/company/logo/hyundaiMotorCompany.png");
}

.logo-kakao {
    background-image: url("/images/company/logo/kakao.png");
}

.logo-kia {
    background-image: url("/images/company/logo/kia.png");
}

.logo-lGEnergySolution {
    background-image: url("/images/company/logo/lGEnergySolution.png");
}

.logo-naver {
    background-image: url("/images/company/logo/naver.png");
}

.logo-samsungElectronics {
    background-image: url("/images/company/logo/samsungElectronics.png");
}

.logo-samsungSDI {
    background-image: url("/images/company/logo/samsungSDI.png");
}

.logo-sKHynix {
    background-image: url("/images/company/logo/sKHynix.png");
}