<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="wrapper-select-table">
    <table class="select-table">
        <caption>
            <strong>&lt;&lt; [[#{article}]] [[#{data.main}]] [[#{data}]] &gt;&gt;</strong>
        </caption>
        <thead>
        <tr>
            <th scope="col" th:text="#{article.number}"></th>
            <th scope="col" th:text="#{article.name}"></th>
            <th scope="col" th:text="#{article.imagePath}"></th>
            <th scope="col" th:text="#{article.summary}"></th>
            <th scope="col" th:text="#{article.classification}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articleMains}">
            <td th:text="${article.number}"></td>
            <td th:text="${article.name}"></td>
            <td th:text="${article.imagePath}"></td>
            <td th:text="${article.summary}"></td>
            <td th:text="${article.classification.value}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script></script>
</body>
</html>