<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="wrapper-select-table">
    <table class="select-table">
        <caption>
            <strong>&lt;&lt; [[#{company}]] [[#{data}]] &gt;&gt;</strong>
        </caption>
        <thead>
            <tr>
                <th scope="col" th:text="#{company.code}"></th>
                <th scope="col" th:text="#{company.listedCountry}"></th>
                <th scope="col" th:text="#{company.scale}"></th>
                <th scope="col" th:text="#{company.name}"></th>
                <th scope="col" th:text="#{company.firstCategory}"></th>
                <th scope="col" th:text="#{company.secondCategory}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="company : ${companies}">
                <td th:text="${company.code}"></td>
                <td th:text="${company.listedCountry.value}"></td>
                <td th:text="${company.scale.value}"></td>
                <td th:text="${company.name}"></td>
                <td th:text="${company.firstCategory.value}"></td>
                <td th:text="${company.secondCategory.value}"></td>
            </tr>
        </tbody>
    </table>
</div>
<script></script>
</body>
</html>