<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="wrapper-select-table">
    <table class="select-table">
        <caption>
            <strong>&lt;&lt; [[#{company}]] [[#{article}]] [[#{data}]] &gt;&gt;</strong>
        </caption>
        <thead>
            <tr>
                <th scope="col" th:text="#{article.number}"></th>
                <th scope="col" th:text="#{article.name}"></th>
                <th scope="col" th:text="#{article.press}"></th>
                <th scope="col" th:text="#{article.subjectCompany}"></th>
                <th scope="col" th:text="#{article.link}"></th>
                <th scope="col" th:text="#{article.date}"></th>
                <th scope="col" th:text="#{article.importance}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.number}"></td>
                <td th:text="${article.name}"></td>
                <td th:text="${article.press.pressValue}"></td>
                <td th:text="${article.subjectCompany}"></td>
                <td th:text="${article.link}"></td>
                <td th:text="${article.date}"></td>
                <td th:text="${article.importance}"></td>
            </tr>
        </tbody>
    </table>
</div>
<script></script>
</body>
</html>