<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="wrapper-select-table">
    <table class="select-table">
        <caption>
            <strong>&lt;&lt; [[#{industry}]] [[#{article}]] [[#{data}]] &gt;&gt;</strong>
        </caption>
        <thead>
            <tr>
                <th scope="col" th:text="#{article.number}"></th>
                <th scope="col" th:text="#{article.name}"></th>
                <th scope="col" th:text="#{article.press}"></th>
                <th scope="col" th:text="#{article.link}"></th>
                <th scope="col" th:text="#{article.date}"></th>
                <th scope="col" th:text="#{article.importance}"></th>
                <th scope="col" th:text="#{article.subjectFirstCategory}"></th>
                <th scope="col" th:text="#{article.subjectSecondCategories}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.number}"></td>
                <td th:text="${article.name}"></td>
                <td th:text="${article.press.pressValue}"></td>
                <td th:text="${article.link}"></td>
                <td th:text="${article.date}"></td>
                <td th:text="${article.importance}"></td>
                <td th:text="${article.subjectFirstCategory.firstCategoryValue}"></td>
                <td class="subject-second-category" th:text="${article.subjectSecondCategories}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
<script th:inline="javascript" type="module">
    document.addEventListener('DOMContentLoaded', () => {
        const jsonItems = document.querySelectorAll('.subject-second-category');
        for (jsonItem of jsonItems) {
            jsonItem.innerHTML = JSON.parse(jsonItem.innerHTML);
        }
    })
</script>
</html>