<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="wrapper-select-table">
    <table class="select-table">
        <caption>
            <strong>&lt;&lt; [[#{member}]] [[#{data}]] &gt;&gt;</strong>
        </caption>
        <thead>
            <tr>
                <th scope="col" th:text="#{member.identifier}"></th>
                <th scope="col" th:text="#{member.id}"></th>
                <th scope="col" th:text="#{member.pw}"></th>
                <th scope="col" th:text="#{member.name}"></th>
                <th scope="col" th:text="#{member.email}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.identifier}"></td>
                <td th:text="${member.id}"></td>
                <td th:text="${member.password}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.email}"></td>
            </tr>
        </tbody>
    </table>
</div>
<script></script>
</body>
</html>