<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::form})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action th:object="${company}" method="POST">
    <div>
        <div class="partialForm">
            <label for="code">코드</label>
            <input type="text" id="code" th:field="*{code}" size="20">
        </div>
        <div>국가</div>
        <select class="partialForm" th:field="*{country}">
            <option th:each="country : ${countries}" th:value="${country.name()}" th:text="${country.countryValue}"></option>
        </select>
        <div>크기</div>
        <select class="partialForm" th:field="*{scale}" >
            <option th:each="scale : ${scales}" th:value="${scale.name()}" th:text="${scale.scaleValue}"></option>
        </select>
        <div class="partialForm">
            <label for="name">기업명</label>
            <input type="text" id="name" th:field="*{name}" size="20">
        </div>
        <div class="partialForm">
            <label for="category1st">1차 구분</label>
            <input type="text" id="category1st" th:field="*{category1st}" size="20">
        </div>
        <div class="partialForm">
            <label for="category2nd">2차 구분</label>
            <input type="text" id="category2nd" th:field="*{category2nd}" size="20">
        </div>
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>