<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/company/result/user-result.css" rel="stylesheet"/>
</head>
<body>
    <section>
        <div class="container-total">
            <div class="container-top">
                <div class="classification-name" th:text="${company.name}"></div>
                <div class="classification-code" th:text="${company.code}"></div>
                <div class="classification-chart"></div>
            </div>
            <div class="container-bottom">
                <div class="classification-news">
                    <div class="layer-background">
                        <div class="classification-news-statement" th:text="|최신 #{article.news}|"></div>
                    </div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                </div>
                <div class="classification-news">
                    <div class="layer-background">
                        <div class="classification-news-statement" th:text="|#{newest.year} #{newest.quarter} TOP 3|"></div>
                    </div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="layer-margin"></div>
                    <div class="layer-background">
                        <div class="classification-news-statement" th:text="|#{previous.year} TOP 3|"></div>
                    </div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                </div>
            </div>
        </div>
    </section>
    <script></script>
</body>
</html>