<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/company/result/user-result-style.css" rel="stylesheet"/>
</head>
<body>
    <section>
        <div class="container-total">
            <div class="container-top">
                <div class="classification-name" th:text="${company.name}"></div>
                <div class="classification-code" th:text="${company.code}"></div>
                <div class="classification-chart"></div>
            </div>
            <div class="container-bottom">
                <div class="classification-info">
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.stockPrice}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.marketCap}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.52weekLow}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.52weekHigh}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.firstCategory}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.secondCategory}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.PER}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.PBR}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.ROE}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.PEG}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.EPS}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.divPerShare}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.payoutRatio}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                    <div class="classification-info-set">
                        <div class="classification-info-item" th:text="#{company.divYieldRatio}"></div>
                        <div class="classification-info-item">[[#{function.test}]]</div>
                    </div>
                </div>
                <div class="classification-news">
                    <div class="layer-background">
                        <div class="classification-news-statement" th:text="|최신 #{article.news}|"></div>
                    </div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="layer-background">
                        <div class="classification-news-statement" th:text="|#{newest.year} #{newest.quarter} TOP 3|"></div>
                    </div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                    <div class="classification-news-item">[[#{function.test}]]</div>
                </div>
            </div>
        </div>
    </section>
    <script></script>
</body>
</html>