<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/company/search/user-logo.css" rel="stylesheet"/>
    <link href="/styles/user/company/search/user-search.css" rel="stylesheet"/>
</head>
<body>
    <section>
        <div class="section-search">
            <div class="represent-wrapper">
                <div class="represent-row">
                    <div class="represent-column">
                        <div class="represent-company-intro">[[#{industry.semiconductor}]] 대표 [[#{company}]]</div>
                        <div class="represent-company-name">삼성전자</div>
                        <div class="logo logo-samsung-electronics">
                            <a class="logo-url" th:href="@{|${companySearchURL}005930|}"></a>
                        </div>
                        <div class="represent-company-name">SK하이닉스</div>
                        <div class="logo logo-sk-hynix">
                            <a class="logo-url" th:href="@{|${companySearchURL}000660|}"></a>
                        </div>
                    </div>
                    <div class="represent-column">
                        <div class="represent-company-intro">[[#{industry.electricVehicle}]] 대표 [[#{company}]]</div>
                        <div class="represent-company-name">현대차</div>
                        <div class="logo logo-hyundai-motor-company">
                            <a class="logo-url" th:href="@{|${companySearchURL}005380|}"></a>
                        </div>
                        <div class="represent-company-name">기아</div>
                        <div class="logo logo-kia">
                            <a class="logo-url" th:href="@{|${companySearchURL}000270|}"></a>
                        </div>
                    </div>
                    <div class="represent-clearLine"></div>
                    <div class="represent-column">
                        <div class="represent-company-intro">[[#{industry.secondaryBattery}]] 대표 [[#{company}]]</div>
                        <div class="represent-company-name">LG에너지솔루션</div>
                        <div class="logo logo-lg-energy-solution">
                            <a class="logo-url" th:href="@{|${companySearchURL}373220|}"></a>
                        </div>
                        <div class="represent-company-name">삼성SDI</div>
                        <div class="logo logo-samsung-sdi">
                            <a class="logo-url" th:href="@{|${companySearchURL}006400|}"></a>
                        </div>
                    </div>
                    <div class="represent-column">
                        <div class="represent-company-intro">[[#{industry.IT}]] 대표 [[#{company}]]</div>
                        <div class="represent-company-name">NAVER</div>
                        <div class="logo logo-naver">
                            <a class="logo-url" th:href="@{|${companySearchURL}035420|}"></a>
                        </div>
                        <div class="represent-company-name">카카오</div>
                        <div class="logo logo-kakao">
                            <a class="logo-url" th:href="@{|${companySearchURL}035720|}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script></script>
</body>
</html>