<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <p th:text="|#{industry} #{article}를 #{function.register}합니다.|"></p>
    <form th:action method="POST">
        <div th:if="${error} != null" th:classappend="txt-errorMessage">
            <th:block th:switch="${error}">
                <p th:case="notBlankArticleError" th:text="#{NotBlank.article}"></p>
                <p th:case="notFoundFirstCategoryError" th:text="#{NotFound.article.subjectFirstCategory}"></p>
                <p th:case="notFoundSecondCategoryError" th:text="#{NotFound.article.subjectSecondCategory}"></p>
                <p th:case="indexOutOfBoundError" th:text="#{Size.java.util.List}"></p>
            </th:block>
        </div>
        <div>
            <div>
                <label for="nameDatePressString" th:text="|#{data.multiple} #{article}|"></label>
                <textarea id="nameDatePressString" name="nameDatePressString" spellcheck="false" wrap="soft"></textarea>
            </div>
            <div>
                <label for="linkString" th:text="|#{data.multiple} #{article.link}|"></label>
                <textarea id="linkString" name="linkString" spellcheck="false" wrap="soft"></textarea>
            </div>
            <div>
                <label for="subjectFirstCategory" th:text="#{article.subjectFirstCategory}"></label>
                <input type="text" id="subjectFirstCategory" name="subjectFirstCategory">
            </div>
            <div>
                <label for="subjectSecondCategory" th:text="#{article.subjectSecondCategory}"></label>
                <input type="text" id="subjectSecondCategory" name="subjectSecondCategory">
            </div>
        </div>
        <button type="submit" th:text="#{function.register}"></button>
    </form>
</div>
<script></script>
</body>
</html>