<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <p th:text="|#{industry} #{article}를 #{function.register}합니다.|"></p>
    <form th:action th:object="${article}" method="POST">
        <div th:if="${error} != null" th:classappend="txt-errorMessage">
            <p th:if="${error} == 'beanValidationError'" th:text="#{BeanValidation}"></p>
        </div>
        <div>
            <div class="partialForm">
                <label for="name" th:text="#{article.name}"></label>
                <input type="text" id="name" th:field="*{name}" size="20">
                <div class="txt-errorMessage" th:errors="*{name}"></div>
            </div>
            <div class="partialForm">
                <label for="press" th:text="#{article.press}"></label>
                <input type="text" id="press" th:field="*{press}" size="20" th:errorclass="txt-errorMessage">
                <div class="txt-errorMessage" th:errors="*{press}"></div>
            </div>
            <div class="partialForm">
                <label for="link" th:text="#{article.link}"></label>
                <input type="url" id="link" th:field="*{link}" size="20" th:errorclass="txt-errorMessage">
                <div class="txt-errorMessage" th:errors="*{link}"></div>
            </div>
            <div class="partialForm">
                <label for="year" th:text="#{year}"></label>
                <input type="number" min="1900" max="2024" id="year" th:field="*{year}" size="4">
                <label for="month" th:text="#{month}"></label>
                <input type="number" min="1" max="12" id="month" th:field="*{month}" size="2">
                <label for="days" th:text="#{days}"></label>
                <input type="number" min="1" max="31" id="days" th:field="*{days}" size="2">
                <div class="txt-errorMessage" th:errors="*{year}"></div>
                <div class="txt-errorMessage" th:errors="*{month}"></div>
                <div class="txt-errorMessage" th:errors="*{days}"></div>
            </div>
            <div class="partialForm">
                <label for="importance" th:text="#{article.importance}"></label>
                <input type="text" id="importance" th:field="*{importance}" size="20">
                <div class="txt-errorMessage" th:errors="*{importance}"></div>
            </div>
            <div class="partialForm">
                <label for="subjectFirstCategory" th:text="#{article.subjectFirstCategory}"></label>
                <input type="text" id="subjectFirstCategory" th:field="*{subjectFirstCategory}" size="20">
                <div class="txt-errorMessage" th:errors="*{subjectFirstCategory}"></div>
            </div>
            <div class="partialForm">
                <label for="subjectSecondCategory" th:text="#{article.subjectSecondCategory}"></label>
                <input type="text" id="subjectSecondCategory" th:field="*{subjectSecondCategory}" size="20">
                <div class="txt-errorMessage" th:errors="*{subjectSecondCategory}"></div>
            </div>
        </div>
        <button type="submit" th:text="#{function.register}"></button>
    </form>
</div>
</body>
</html>