<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::section}, ~{::script})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/styles/user/main/user-main.css" rel="stylesheet"/>
</head>
<body>
<section class="section-main">
    <div class="container-main-top">
        <div class="newest-wrapper">
            <div class="newest-column">
                <div class="newest-row first-row">
                    <p class="newest-title" th:text="|일간 #{company}|"></p>
                    <div class="newest-info">
                        <div class="newest-info-item text subject">
                            [[${latestCompanyArticle.subjectCompany}]]
                        </div>
                        <a class="newest-info-item picture-wrapper"
                           th:href="${latestCompanyArticle.link}">
                            <div class="picture company-picture"
                                 th:style="|background-image: url(${latestCompanyArticleMain.imagePath})|"></div>
                        </a>
                        <div class="newest-info-item text title">
                            [[${latestCompanyArticle.name}]]
                        </div>
                        <div class="newest-info-item text newest-info-summary">
                            [[#{article.summary}]]: [[${latestCompanyArticleMain.summary}]]
                        </div>
                    </div>
                </div>
                <div class="newest-row second-row">
                    <p class="newest-title" th:text="|일간 국내 #{economy}|"></p>
                    <div class="newest-info">
                        <div id="domesticEconomyContents" class="newest-info-item text subject">
                            [[${latestDomesticEconomyArticle.targetEconomyContents}]]
                        </div>
                        <a class="newest-info-item picture-wrapper"
                           th:href="${latestDomesticEconomyArticle.link}">
                            <div class="picture domestic-picture"
                                 th:style="|background-image: url(${latestDomesticEconomyArticleMain.imagePath})|"></div>
                        </a>
                        <div class="newest-info-item text title">
                            [[${latestDomesticEconomyArticle.name}]]
                        </div>
                        <div class="newest-info-item text newest-info-summary">
                            [[#{article.summary}]]: [[${latestDomesticEconomyArticleMain.summary}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="newest-column">
                <div class="newest-row first-row">
                    <p class="newest-title" th:text="|일간 #{industry}|"></p>
                    <div class="newest-info">
                        <div class="newest-info-item text subject">
                            [[${latestIndustryArticle.subjectFirstCategory.value}]]
                        </div>
                        <a class="newest-info-item picture-wrapper"
                           th:href="${latestIndustryArticle.link}">
                            <div class="picture industry-picture"
                                 th:style="|background-image: url(${latestIndustryArticleMain.imagePath})|"></div>
                        </a>
                        <div class="newest-info-item text title">
                            [[${latestIndustryArticle.name}]]
                        </div>
                        <div class="newest-info-item text newest-info-summary">
                            [[#{article.summary}]]: [[${latestIndustryArticleMain.summary}]]
                        </div>
                    </div>
                </div>
                <div class="newest-row second-row">
                    <p class="newest-title" th:text="|일간 해외 #{economy}|"></p>
                    <div class="newest-info">
                        <div id="foreignEconomyContents" class="newest-info-item text subject">
                            [[${latestForeignEconomyArticle.targetEconomyContents}]]
                        </div>
                        <a class="newest-info-item picture-wrapper"
                           th:href="${latestForeignEconomyArticle.link}">
                            <div class="picture foreign-picture"
                                 th:style="|background-image: url(${latestForeignEconomyArticleMain.imagePath})|"></div>
                        </a>
                        <div class="newest-info-item text title">
                            [[${latestForeignEconomyArticle.name}]]
                        </div>
                        <div class="newest-info-item text newest-info-summary">
                            [[#{article.summary}]]: [[${latestForeignEconomyArticleMain.summary}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="newest-clearLine"></div>
            <div class="newest-column">
                <div class="newest-row first-row">
                    <div class="ad"></div>
                </div>
                <div class="newest-row second-row">
                    <div class="ad"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-main-bottom">
        <div class="post-wrapper">
            <p class="post-title" th:text="|#{company} 주요 포스팅|"></p>
            <p class="post-subject-name" th:text="이노와이어리스"></p>
            <div class="post-blog">
                <a class="post-image post-company"
                   style="background-image: url(/images/company/logo/inno_wireless.png)"
                   href="https://blog.naver.com/akdnjs0308/223491404394"></a>
                <div class="post-clearLine"></div>
                <div class="post-news post-company-news">
                    <div class="post-news-related" th:text="|관련 뉴스|"></div>
                    <div class="post-news-item post-company-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-company-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-company-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-company-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-company-news-item"><p th:text="#{function.test}"></p></div>
                </div>
            </div>
        </div>
        <div class="post-wrapper">
            <p class="post-title" th:text="|#{industry} 주요 포스팅|"></p>
            <p class="post-subject-name" th:text="디스플레이"></p>
            <div class="post-blog">
                <a class="post-image post-industry"
                   style="background-image: url(/images/industry/display_001.png)"
                   href="https://blog.naver.com/akdnjs0308/223456567261"></a>
                <div class="post-clearLine"></div>
                <div class="post-news post-industry-news">
                    <div class="post-news-related" th:text="|관련 뉴스|"></div>
                    <div class="post-news-item post-industry-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-industry-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-industry-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-industry-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-industry-news-item"><p th:text="#{function.test}"></p></div>
                </div>
            </div>
        </div>
        <div class="post-wrapper">
            <p class="post-title" th:text="|#{economy} 주요 포스팅|"></p>
            <p class="post-subject-name" th:text="중국"></p>
            <div class="post-blog">
                <a class="post-image post-economy"
                   style="background-image: url(/images/economy/flag/chinese_flag_001.png)"
                   href="https://blog.naver.com/akdnjs0308/223527440189"></a>
                <div class="post-clearLine"></div>
                <div class="post-news post-economy-news">
                    <div class="post-news-related" th:text="|관련 뉴스|"></div>
                    <div class="post-news-item post-economy-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-economy-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-economy-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-economy-news-item"><p th:text="#{function.test}"></p></div>
                    <div class="post-news-item post-economy-news-item"><p th:text="#{function.test}"></p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script async>
    (async function () {
        const body = document.body;
        if (body.scrollWidth > body.clientWidth) {
            body.style.overflowX = 'scroll';
        } else {
            body.style.overflowX = 'hidden';
        }
    })();
</script>
<script defer th:inline="javascript" type="module">
    document.addEventListener('DOMContentLoaded', () => {
        const domesticContent = document.getElementById('domesticEconomyContents');
        const domesticText = domesticContent.textContent.trim();
        domesticContent.textContent = domesticText.substring(1, domesticText.length - 1).replaceAll(', ', ' / ');

        const foreignContent = document.getElementById('foreignEconomyContents');
        const foreignText = foreignContent.textContent.trim();
        foreignContent.textContent = foreignText.substring(1, foreignText.length - 1).replaceAll(', ', ' / ');
    })
</script>
</body>
</html>