<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="tableWrapperDiv">
    <table class="table">
        <caption>
            <strong>&lt;&lt; [[#{company}]] [[#{article}]] [[#{data.main}]] [[#{data}]] &gt;&gt;</strong>
        </caption>
        <thead>
        <tr>
            <th scope="col" th:text="#{article.number}"></th>
            <th scope="col" th:text="#{article.name}"></th>
            <th scope="col" th:text="#{article.imagePath}"></th>
            <th scope="col" th:text="#{article.summary}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articleMains}">
            <td th:text="${article.number}"></td>
            <td th:text="${article.name}"></td>
            <td th:text="${article.imagePath}"></td>
            <td th:text="${article.summary}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>