<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="tableWrapperDiv">
    <table class="table">
        <caption>
            <strong>&lt;&lt; [[#{company}]] [[#{database.data}]] &gt;&gt;</strong>
        </caption>
        <thead>
            <tr>
                <th scope="col" th:text="#{company.code}"></th>
                <th scope="col" th:text="#{company.country}"></th>
                <th scope="col" th:text="#{company.scale}"></th>
                <th scope="col" th:text="#{company.name}"></th>
                <th scope="col" th:text="#{company.category1st}"></th>
                <th scope="col" th:text="#{company.category2nd}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="company : ${companies}">
                <td th:text="${company.code}"></td>
                <td th:text="${company.country}"></td>
                <td th:text="${company.scale}"></td>
                <td th:text="${company.name}"></td>
                <td th:text="${company.category1st}"></td>
                <td th:text="${company.category2nd}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>