.memberTable {
    border: thick outset #5A5BC7;
    border-collapse: collapse;
    padding: 1rem;
}

Caption {
    padding: inherit;
}

th, td {
    border: medium outset #39429D;
    border-collapse: collapse;
    padding: 1.2rem;
    text-align: center;
}