.headerWrapper {    
    /* 
     * block
     */
    
    /* empty space */
    margin: 0 auto;

    /* positioning */
    display: grid;

    /* size */
    width: calc(100vw - 14px);
    height: 160px;
    
    /* 
     * Grid layout
     */
    
    /* sorting */
    place-content: center;
    place-items: center;
    
    grid: auto-flow repeat(2, 80px) / 1fr;
    grid-gap: 0;
    grid-template-areas: 
        "header-top"
        "header-middle";
}

/*
 * Top Header Layer
 */
.headerTop {
    /* 
     * block
     */
    
    /* positioning */
    display: grid;

    /* size */
    width: inherit;
    height: 80px;
    
    /* 
     * Grid layout
     */
    grid-gap: 0;
    grid-template-columns: repeat(3, 1fr);
}

.headerTopLeft {
    /* 
     * block
     */
    
    /* empty space */
    display: block;
    
    /* 
     * Grid layout
     */
    grid-area: 1 / 1 / 2 / 2;
}

.headerTopMiddle {
    /* 
     * block
     */
    
    /* positioning */
    display: grid;
    
    /* 
     * Grid layout
     */
    grid-area: 1 / 2 / 2 / 3;
    
    /* sorting */
    place-content: center;
    place-items: center;
}

.headerTopMiddle > a {
    /* 
     * block
     */
    
    /* positioning */
    display: flex;

    /* size */
    width: 100px;
    height: 40px;
    
    /* sorting */
    align-items: center;
    justify-content: center;
    
    /*
     * inline
     */
    text-decoration: none;
    
    /* 
     * flexbox layout
     */
    flex-flow: row nowrap;
}

.headerTopMiddle > a > h1 {
    /* 
     * block
     */

    /* positioning */
    display: inline-block;
    
    /*
     * inline
     */
    
    /* font */
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.headerTopRight {
    /* 
     * block
     */
    
    /* positioning */
    display: block;
    
    /* 
     * Grid layout
     */
    grid-area: 1 / 3 / 2 / 4;
}

.headerTopRight > a {
    /* 
     * block
     */

    /* positioning */
    display: inline-block;
    position: relative;

    /* size */
    top: 50%;
    left: 50%;
        
    /*
     * inline
     */
    
    /* font */
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: darkblue;
}

/*
 * Middle Header Layer
 */
.headerMiddle {
    /* 
     * block
     */
    
    /* positioning */
    display: block;

    /* size */
    width: inherit;
    height: 80px;
    
    /* 
     * Grid layout
     */
    grid-area: 2 / 1 / 3 / 2;
    grid-gap: 0;
}

/*
 * Header Navigator
 */
#headerNavigator {
    /* 
     * block
     */

    /* background */
    background: local padding-box #000980;
    
    /* border */
    border: 3px solid black;
    border-collapse: separate;
    border-spacing: 0;
    
    /* empty space */
    margin: 0 auto;

    /* positioning */
    display: flex;
    
    /* size */
    width: inherit;
    height: 80px;

    /* sorting */
    justify-content: center;
    align-content: center;
}

#headerNavigator > ul {
    /* 
     * block
     */
    
    /* border */
    border: 3px solid black;
    border-collapse: collapse;
    
    /* decoration */
    list-style: none;

    /* empty space */
    margin: 8px 0;

    /* positioning */
    display: flex;
    z-index: 0;
    
    /* size */
    width: 600px;
    height: 60px;
    
    /* sorting */
    justify-content: center;
    align-items: center;
    
    /* 
     * flexbox layout
     */
    column-gap: 0;
    flex-flow: row nowrap;
}

#headerNavigator > ul > li {
    /* 
     * block
     */
    
    /* border */
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border-collapse: collapse;
    
    /* empty space */
    padding: 3px 0;

    /* positioning */
    display: flex;
    z-index: -1;

    /* size */
    width: 200px;
    height: inherit;
    
    /* sorting */
    justify-content: center;
    align-items: center;
    
    /* 
     * flexbox layout
     */
    flex-flow: row nowrap;
}

#headerNavigator > ul > li > a {
    /* 
     * block
     */
        
    /* positioning */
    display: flex;

    /* size */
    width: inherit;
    height: inherit;
    
    /* sorting */
    justify-content: center;
    align-items: center;
    
    /*
     * inline
     */
    
    /* font */
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    
    /* 
     * flexbox layout
     */
    flex-flow: row nowrap;
}

#headerNavigator > ul > li:first-child {
    /* border */
    border-left: 3px solid black;
}

#headerNavigator > ul > li:last-child {
    /* border */
    border-right: 3px solid black;
}

#headerNavigator > ul > li:hover {
    background-color: #3B3BC7;
    background-clip: content-box;
}