#userMainPageNavigator {
    /* 
     * block
     */

    /* background */
    background: local padding-box #1e90ffff;
    
    /* border */
    border: 3px outset darkblue;
    border-collapse: separate;
    border-spacing: 0;
    
    /* decoration */
    opacity: 1;
    transform: none;

    /* empty space */
    box-sizing: border-box;
    margin: 32px auto 16px;
    padding: 16px 0;

    /* positioning */
    display: flex;
    position: static;
    
    /* size */
    width: 90vw;
    height: 158px;
    min-width: 606px;
    min-height: 158px;

    /* sorting */
    justify-content: center;
    align-content: center;

    /* 
     * flexbox layout
     */
    flex-flow: row wrap;
}

#userMainPageNavigator > ul {
    /* 
     * block
     */
    
    /* border */
    border: 3px outset darkblue;
    border-collapse: collapse;
    
    /* decoration */
    list-style: none;
    opacity: 1;
    transform: none;

    /* empty space */
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 0;

    /* positioning */
    display: flex;
    position: static;
    z-index: 0;
    
    /* size */
    width: 600px;
    height: 120px;
    min-width: 600px;
    min-height: 120px;
    
    /* sorting */
    justify-content: center;
    align-items: center;
    
    /* 
     * flexbox layout
     */
    column-gap: 0;
    flex-flow: row nowrap;
}

#userMainPageNavigator > ul > li {
    /* 
     * block
     */
    
    /* border */
    border-left: 1.5px outset darkblue;
    border-right: 1.5px outset darkblue;
    border-collapse: collapse;
    
    /* decoration */
    opacity: 1;
    transform: none;

    /* empty space */
    box-sizing: border-box;
    margin: 0;
    padding: 3px 0;

    /* positioning */
    display: flex;
    position: static;
    z-index: -1;

    /* size */
    width: 200px;
    height: inherit;
    min-width: 200px;
    min-height: inherit;
    
    /* sorting */
    justify-content: center;
    align-items: center;
    
    /* 
     * flexbox layout
     */
    flex-grow: 1;
    flex-shrink: 1;
    flex-flow: row wrap;
}

#userMainPageNavigator > ul > li > a {
    /* 
     * block
     */
    
    /* border */
    border: none;
    
    /* decoration */
    opacity: 1;
    transform: none;

    /* empty space */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* positioning */
    display: flex;
    position: static;

    /* size */
    width: inherit;
    height: inherit;
    min-width: inherit;
    min-height: inherit;
    
    /* sorting */
    justify-content: center;
    align-items: center;
    
    /*
     * inline
     */
    
    /* font */
    font-size: 21px;
    line-height: 1.2;
    font-weight: 700;
    color: black;

    hyphens: none;
    letter-spacing: inherit;
    text-decoration: none;
    word-break: keep-all;
    word-spacing: 0.25rem;
}

#userMainPageNavigator > ul > li:first-child {
    /* border */
    border-left: 3px outset darkblue;
}

#userMainPageNavigator > ul > li:last-child {
    /* border */
    border-right: 3px outset darkblue;
}

#userMainPageNavigator > ul > li:hover {
    background-color: #80c0ff;
    background-clip: content-box;
}