.logo {
    background-attachment: local;
    background-clip: content-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.logo-hyundaiMotorCompany {
    background-image: url("/images/company/logo/HyundaiMotorCompany.png");
}

.logo-kakao {
    background-image: url("/images/company/logo/Kakao.png");
}

.logo-kia {
    background-image: url("/images/company/logo/Kia.png");
}

.logo-lGEnergySolution {
    background-image: url("/images/company/logo/LGEnergySolution.png");
}

.logo-naver {
    background-image: url("/images/company/logo/Naver.png");
}

.logo-samsungElectronics {
    background-image: url("/images/company/logo/SamsungElectronics.png");
}

.logo-samsungSDI {
    background-image: url("/images/company/logo/SamsungSDI.png");
}

.logo-sKHynix {
    background-image: url("/images/company/logo/SKHynix.png");
}