<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name=”viewport” content=”width=device-width”>
    <title>[[#{site.title}]]</title>
    <link href="/styles/html-style.css" rel="stylesheet"/>
    <link href="/styles/body-style.css" rel="stylesheet"/>
    <link href="/styles/error-style.css" rel="stylesheet"/>
</head>
<body>
    <h3>로그인</h3>
    <form th:action method="post">
        <div>
            <div>
                <label for="id">ID</label>
                <input type="text" id="id" name="id" size="20">
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" id="password" name="password" size="20">
            </div>
        </div>
        <button type="submit">로그인</button>
    </form>
    <div>
        <a th:href="${membership}">회원 가입</a>
        <a th:href="${findId}">아이디 찾기</a>
    </div>
</body>