<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name=”viewport” content=”width=device-width”>
    <title>[[#{site.title}]]</title>
    <link href="/styles/html-style.css" rel="stylesheet"/>
    <link href="/styles/body-style.css" rel="stylesheet"/>
    <link href="/styles/error-style.css" rel="stylesheet"/>
    <link href="/styles/manager/main-style.css" rel="stylesheet">
</head>
<body>
<section class="section-main">
    <div class="function-list-wrapper">
        <div class="section-main-intro">관리자 인터페이스</div>
        <ol class="function-list">
            <li class="function-intro" th:text="|#{company} #{article} 관련 기능|"></li>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.single}"></li> <!-- CREATE, UPDATE, DELETE 구현 -->
                <li><a th:href="${addSingleCompanyArticle}" th:text="|#{data.single} #{article} #{function.register}|"></a></li>
                <li><a th:href="${updateCompanyArticle}" th:text="|#{data.single} #{article} #{function.correct}|"></a></li>
                <li><a th:href="${removeCompanyArticle}" th:text="|#{data.single} #{article} #{function.remove}|"></a></li>
            </ol>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.multiple}"></li> <!-- CREATE, READ 구현 -->
                <li>
                    <a th:href="${addCompanyArticlesWithString}"
                       th:text="|#{data.multiple} #{article} #{function.register}
                       (#{data.single.string}, #{article.subjectCompany} 및 #{article.importance} 고정)|">
                    </a>
                </li>
                <li>
                    <a th:href="${selectCompanyArticles}" th:text="|#{data.all} #{article} #{function.inquiry}|"></a>
                </li>
            </ol>
        </ol>
        <ol class="function-list">
            <li class="function-intro" th:text="|#{industry} #{article} 관련 기능|"></li>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.single}"></li> <!-- CREATE, UPDATE, DELETE 구현 -->
                <li><a th:href="${addSingleIndustryArticle}" th:text="|#{data.single} #{article} #{function.register}|"></a></li>
                <li><a th:href="${updateIndustryArticle}" th:text="|#{data.single} #{article} #{function.correct}|"></a></li>
                <li><a th:href="${removeIndustryArticle}" th:text="|#{data.single} #{article} #{function.remove}|"></a></li>
            </ol>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.multiple}"></li> <!-- CREATE, READ 구현 -->
                <li>
                    <a th:href="${addIndustryArticlesWithString}"
                       th:text="|#{data.multiple} #{article} #{function.register}
                       (#{data.single.string}, #{article.subjectFirstCategory},
                       #{article.subjectSecondCategory} 및 #{article.importance} 고정)|">
                    </a>
                </li>
                <li>
                    <a th:href="${selectIndustryArticles}" th:text="|#{data.all} #{article} #{function.inquiry}|"></a>
                </li>
            </ol>
        </ol>
        <ol class="function-list">
            <li class="function-intro" th:text="|#{article} #{data.main} 관련 기능|"></li>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.single}"></li>
                <li><a th:href="${addArticleMain}" th:text="|#{article} #{data.main} #{function.register}|"></a></li>
                <li><a th:href="${updateArticleMain}" th:text="|#{article} #{data.main} #{function.correct}|"></a></li>
                <li><a th:href="${removeArticleMain}" th:text="|#{article} #{data.main} #{function.remove}|"></a></li>
            </ol>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.multiple}"></li>
                <li>
                    <a th:href="${selectArticleMains}" th:text="|#{article} #{data.main} #{function.inquiry}|"></a>
                </li>
            </ol>
        </ol>
        <ol class="function-list">
            <li class="function-intro" th:text="|#{company} 관련 기능|"></li>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.single}"></li> <!-- CREATE, UPDATE, DELETE 구현 -->
                <li><a th:href="${addSingleCompany}" th:text="|#{data.single} #{company} #{function.register}|"></a></li>
                <li><a th:href="${updateCompany}" th:text="|#{data.single} #{company} #{function.correct}|"></a></li>
                <li><a th:href="${removeCompany}" th:text="|#{data.single} #{company} #{function.remove}|"></a></li>
            </ol>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.multiple}"></li> <!-- READ 구현 -->
                <li>
                    <a th:href="${selectCompanies}" th:text="|#{data.all} #{company} #{function.inquiry}|"></a>
                </li>
            </ol>
        </ol>
        <ol class="function-list">
            <li class="function-intro" th:text="|#{member} 관련 기능|"></li>
            <ol class="function-detailed-list">
                <li class="number-of-data" th:text="#{data.multiple}"></li> <!-- READ 구현 -->
                <li><a th:href="${selectMembers}" th:text="|#{data.all} #{member} #{function.inquiry}|"></a></li>
            </ol>
        </ol>
    </div>
</section>
</body>
</html>