<!DOCTYPE html>
<html th:fragment="layout (link, section, script)" lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>[[#{site.title}]]</title>
    <link href="/styles/html-style.css" rel="stylesheet"/>
    <link href="/styles/body-style.css" rel="stylesheet"/>
    <link href="/styles/error-style.css" rel="stylesheet"/>
    <link href="/styles/user/header-style.css" rel="stylesheet"/>
    <link href="/styles/user/footer-style.css" rel="stylesheet"/>
    <link th:replace="${link}"/>
</head>
<body>
<header id="header">
    <div class="header-wrapContent">
        <a href="/" class="link-home"><h1 class="name-site" th:text="#{site.name}"></h1></a>
        <nav id="gnbNav">
            <ul class="gnbNav-list">
                <li class="gnbNav-list-item"><a href="/company" th:text="#{company}"></a></li>
                <li class="gnbNav-list-item"><a href="/industry" th:text="#{industry}"></a></li>
                <li class="gnbNav-list-item"><a href="/economy" th:text="#{economy}"></a></li>
            </ul>
        </nav>
        <div class="header-clearLine first-clearLine"></div>
        <form id="gnbScb" method="get" th:action="@{|${companySearchURL}|}">
            <div class="gnbScb-wrapInput">
                <!--suppress HtmlUnknownAttribute -->
                <input class="gnbScb-input" type="text" id="codeOrName" name="codeOrName"
                       th:placeholder="|현재는 #{company} #{function.search}만 #{function.support}됩니다.|"
                       th:data-check-url="${checkURL}"
                       th:data-error-name="${error}">
            </div>
            <button id="gnbScb-btn" type="submit"></button> <!-- "확대경 아이콘 제작자: Maxim Basinski Premium - Flaticon" -->
        </form>
        <div class="header-clearLine second-clearLine"></div>
        <a class="membership" href="/membership" th:text="#{member.membership}"></a>
        <a class="link-login" href="/login" th:text="#{function.login}"></a>
    </div>
</header>
<section th:replace="${section}"></section>
<footer id="footer">
    <nav id="ftrNav">
        <ul class="ftrNav-list">
            <li class="ftrNav-list-item"><a href="/introduce" th:text="#{page.introduction.site}"></a></li>
            <li class="ftrNav-list-item"><a href="/notify" th:text="#{page.inform}"></a></li>
            <li class="ftrNav-list-item"><a href="/question-answer" th:text="#{page.qna}"></a></li>
        </ul>
    </nav>
</footer>
<!--suppress HtmlUnknownAttribute -->
<div hidden id="container-message"
     th:data-function-search="#{function.search}"
     th:data-function-fillin="#{function.fillIn}"
     th:data-company="#{company}">
</div>
<script defer src="/scripts/user/BasicScrollbarScript.js"></script>
<script th:replace="${script}"></script>
</body>
</html>