<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h3>기업</h3>
    </header>
    <div>
        <p>
            <a href="/company/companies?companyCode=005930">삼성전자</a>
        </p>
        <p>
            <a href="/company/companies?companyCode=005380">현대차</a>
        </p>
        <form action="/company/companies/search" method="get">
            <div>
                <label for="nameOrCode">기업명 또는 기업 코드</label>
                <input type="search" id="nameOrCode" name="nameOrCode">
            </div>
            <button type="submit">기업 검색</button>
        </form>
        <p>
            <a href="/">처음 화면으로</a>
        </p>
    </div>
</body>
</html>