<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <th:block th:replace="~{/user/fragment/original :: originalStyle}"></th:block>
    <th:block th:replace="~{/user/fragment/header :: headerStyle}"></th:block>
    <th:block th:replace="~{/user/fragment/footer :: footerStyle}"></th:block>
</head>
<body>
    <header th:replace="~{/user/fragment/header :: headerFragment}"></header>
    <section>
        <h3 th:text="${companyName}"></h3>
        <div>
            <p>
                <a href="/">처음 화면으로</a>
            </p>
        </div>
    </section>
    <footer th:replace="~{/user/fragment/footer :: footerFragment}"></footer>
</body>
</html>