<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
    <link href="/styles/originalBodyStyle.css" rel="stylesheet"/>
    <link href="/styles/user/headerStyle.css" rel="stylesheet"/>
    <link href="/styles/user/footerStyle.css" rel="stylesheet"/>
    <link href="/styles/user/logoStyle.css" rel="stylesheet"/>
    <link href="/styles/user/company/bodyWrapperStyle.css" rel="stylesheet"/>
    <link href="/styles/user/company/bodySearchBoxStyle.css" rel="stylesheet"/>
    <link href="/styles/user/company/bodyCompanyListStyle.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="headerWrapper">
            <div class="headerTop">
                <div class="headerTopLeft">
                    <!-- Empty Grid -->
                </div>
                <div class="headerTopMiddle">
                    <a href="/">
                        <h1>힉스뷰</h1>
                    </a>
                </div>
                <div class="headerTopRight">
                    <a href="/login">로그인</a>
                </div>
            </div>
            <div class="headerMiddle">
                <nav id="headerNavigator">
                    <ul>
                        <li><a href="/company">기업</a></li>
                        <li><a href="/industry">산업</a></li>
                        <li><a href="/economy">경제</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="bodyWrapper">
            <div class="searchBoxWrapper">
                <div class="searchBox">
                    <form action="/company/companies?companyCode={nameOrCode}" method="get">
                        <label for="nameOrCode">기업</label>
                        <input type="search" id="nameOrCode" name="nameOrCode">
                        <button type="submit">검색</button>
                    </form>
                </div>
            </div>
            <div class="companyListWrapper">
                <div class="firstLayer">
                    <div class="row1">
                        <h3>반도체 대표 기업</h3>
                        <p>삼성전자</p>
                        <a class="logo logoSamsungElectronics" href="/company/companies?nameOrCode=005930">
                        </a>
                        <p>SK하이닉스</p>
                        <a class="logo logoSKHynix" href="/company/companies?nameOrCode=000660">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>전기차 대표 기업</h3>
                        <p>현대차</P>
                        <a class="logo logoHyundaiMotorCompany" href="/company/companies?nameOrCode=005380">
                        </a>
                        <p>기아</P>
                        <a class="logo logoKia" href="/company/companies?nameOrCode=000270">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>2차전지 대표 기업</h3>
                        <p>LG에너지솔루션</P>
                        <a class="logo logoLGEnergySolution" href="/company/companies?nameOrCode=373220">
                        </a>
                        <p>삼성SDI</P>
                        <a class="logo logoSamsungSDI" href="/company/companies?nameOrCode=006400">
                        </a>
                    </div>
                    <div class="row1">
                        <h3>IT 대표 기업</h3>
                        <p>NAVER</P>
                        <a class="logo logoNaver" href="/company/companies?nameOrCode=035420">
                        </a>
                        <p>카카오</P>
                        <a class="logo logoKakao" href="/company/companies?nameOrCode=035720">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footerWrapper">
            <div class="footerTop">
                <nav class="footerNavigator">
                    <ul>
                        <li><a href="/introduce">사이트 소개</a></li>
                        <li><a href="/notify">공지 사항</a></li>
                        <li><a href="/question-answer">자주 묻는 질문</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>