.intro-article-query {
    display: flex;
    width: 95vw;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

#articleQuery {
    display: flex;
    width: 95vw;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    flex-flow: column nowrap;
    border: 2px solid black;
    border-collapse: collapse;
}

#articleQuery .div-article-query label {
    width: 50px;
}

#articleQuery .div-article-query input {
    width: calc(100% - 200px);
}

#articleQuery .article-query-button {
    display: flex;
    width: inherit;
    margin-top: 1rem;
}