.intro-article-form {
    display: flex;
    width: 95vw;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

#articleForm {
    display: flex;
    width: 95vw;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    flex-flow: column nowrap;
    border: 2px solid black;
    border-collapse: collapse;
}

#articleForm #article-form-items {
    display: flex;
    width: inherit;
    flex-flow: column nowrap;
}

#articleForm #article-form-items .article-form-item {
    display: flex;
    width: inherit;
}

#articleForm #article-form-items div:nth-child(n+1) {
    margin-top: 0.5rem;
}

#articleForm #article-form-items .article-form-item label,
#articleForm #article-form-items .article-form-item input {
    margin-right: 0.5rem;
}

#articleForm #article-form-items .article-form-item label {
    width: 120px;
}

#articleForm #article-form-items .article-form-item input {
    width: calc(100% - 200px);
}

#articleForm .article-form-buttons {
    display: flex;
    width: inherit;
    margin-top: 1rem;
}

#articleForm .article-form-buttons #addBtn,
#articleForm .article-form-buttons #removeBtn {
    margin-right: 1rem;
}