.searchBoxWrapper {    
    /* 
     * block
     */
    
    /* empty space */
    margin: 40px auto 0px;

    /* positioning */
    display: block;

    /* size */
    width: calc(100vw - 14px);
    height: 160px;
    
    /* 
     * Grid layout
     */
    
    /* sorting */
    place-content: center;
    
    grid-gap: 0;
    grid-template-rows: 160px;
    grid-template-columns: calc(100vw - 14px);
}

.searchBox {
    /* 
     * block
     */

    /* background */
    background: local padding-box #727479;
    
    /* border */
    border: 3px outset darkblue;
    border-collapse: collapse;
    
    /* empty space */
    margin: auto;

    /* positioning */
    display: flex;
    
    /* size */
    width: 400px;
    height: 80px;

    /* sorting */
    justify-content: center;
    align-items: center;
}

.searchBox > form {
    /* 
     * block
     */
    
    /* positioning */
    display: flex;
    
    /* size */
    width: inherit;
    height: inherit;
    
    /* sorting */
    justify-content: center;
    align-items: center;
}

.searchBox > form > label {
    /* 
     * block
     */

    /* background */
    background: #ced4da;
    
    /* border */
    border: 2px solid #42414D;
    border-collapse: collapse;

    /* empty space */
    box-sizing: border-box;
    margin: 0 5px;
    
    /* positioning */
    display: inline-flex;
    
    /* size */
    width: 60px;
    height: 60px;
    
    /* sorting */
    justify-content: center;
    align-items: center;
    
    /* font */
    font-size: 16px;
    font-weight: 700;
    color: #2D2A40;
}

.searchBox > form > div {
    /* 
     * block
     */

    /* background */
    background-color: white;

    /* empty space */
    margin: 0 5px;
    
    /* positioning */
    display: inline-flex;
    position: relative;
    
    /* size */
    width: 180px;
    height: 60px;
}

.searchBox > form > div > input {
    /* 
     * block
     */
    
    /* background */
    background-color: transparent;

    /* border */
    border: 2px solid #42414D;
    border-collapse: collapse;

    /* positioning */
    display: inline-flex;
    position: absolute;
    z-index: 2;
    
    /* size */
    width: 180px;
    height: 60px;
}

.searchBox > form > div > div {
    /* 
     * block
     */
    
    /* positioning */
    display: inline-flex;
    position: relative;

    /* size */
    width: 180px;
    height: 60px;
}

.searchBox > form > div > div > span {
    /* 
     * block
     */

    /* empty space */
    margin-top: -24px;
    margin-left: -90px;

    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    /* size */
    width: 180px;

    /* sorting */
    text-align: center;
}

.searchBox > form > button {
    /* 
     * block
     */
    
    /* background */
    background: #ced4da;

    /* border */
    border: 2px solid #888888;
    border-collapse: separate;
    border-radius: 14px;
    border-spacing: 0;
    
    /* empty space */
    margin: 0 5px;

    /* positioning */
    display: inline-flex;

    /* size */
    width: 60px;
    height: 60px;

    /* sorting */
    justify-content: center;
    align-items: center;
    
    /*
     * inline
     */
    
    /* font */
    font-size: 16px;
    font-weight: 700;
    color: #2D2A40;
}