<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>[[#{site.name}]] - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <p>다음 [[${key}]]의 [[${dataTypeKor}]] [[#{function.remove}]]가 완료되었습니다:</p>
        <p th:text="${value}"></p>
        <form action="/manager" method="get">
            <button type="submit" th:text="|#{page.main}로 이동|"></button>
        </form>
    </div>
</body>
</html>