<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>[[#{site.name}]] - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
<div>
    <p>정말로 [[${dataTypeKor}]]을/를 [[#{function.remove}]]하시겠습니까?</p>
    <form th:action method="POST">
        <div>
            <label th:for="${removeKey}" th:text="${dataTypeKor}"></label>
            <input type="text" th:id="${removeKey}" th:name="${removeKey}">
        </div>
        <button type="submit" th:text="#{function.remove}"></button>
    </form>
</div>
</body>
</html>