.bodyWrapper {    
    /* 
     * block
     */
    
    /* empty space */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

    /* positioning */
    display: grid;
    position: static;

    /* size */
    width: calc(100vw - 14px);
    height: 760px;
    
    /* 
     * Grid layout
     */
    
    /* sorting */
    place-content: center;
    place-items: center;
    
    grid-template-rows: 160px 600px;
    grid-template-columns: calc(100vw - 14px);
    grid-gap: 0;
    grid-template-areas: 
        "top"
        "bottom";
}
