@media screen and (max-width: 650px) {
    body #membershipForm .membership-form-item label {
        width: 140px;
    }
    
    body #membershipForm .membership-form-item input {
        width: calc(100% - 180px);
    }
}

.section-membership {
    display: flex;
    width: min(800px, 100vw - 14px);
    margin: 6rem auto 4rem auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #170F49;
}

.section-membership .intro-membership {
    display: flex;
    width: max-content;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 700;
}

.section-membership .wrapper-membership-form {
    display: flex;
    width: inherit;
    margin: 6rem 0 2rem;
    border: 3px outset #170F49;
    border-collapse: collapse;
}

.wrapper-membership-form #membershipForm {
    display: flex;
    width: 90%;
    margin: 2rem auto;
    flex-direction: column; 
}

.wrapper-membership-form #membershipForm .membership-form-item {
    display: flex;
    width: inherit;
    margin: 3rem 0;
    padding-left: 3rem;
    font-size: 20px;
    font-weight: 400;
}

#membershipForm .membership-form-item label {
    width: 180px;
    min-width: 150px;
}

#membershipForm .membership-form-item input {
    width: calc(100% - 260px);
    padding-left: 4px;
    border: 1px solid black;
    border-radius: 6px;
}

#membershipForm #submitBtn {
    display: flex;
    width: 100%;
    height: 1.8rem;
    margin-bottom: 2rem;
    background-color: #668AFF;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

#membershipForm .txt-error-messages {
    display: flex;
    width: 100%;
    flex-flow: column;
}

#membershipForm .txt-error-messages .txt-error-message {
    display: flex;
    width: inherit;
    margin: 4px 0;
    padding-left: 3rem;
    font-size: 13px;
}