.image-welcome {
    display: flex;
    position: relative;
    margin: 6rem auto;
    width: 65vw;
    height: 65vh;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.image-welcome::after {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: padding-box center/contain no-repeat transparent url(/images/others/welcome.png);
    opacity: 0.35;
}

.image-welcome .txt-welcome {
    font-size: 64px;
    font-weight: 700;
}

.image-welcome .txt-welcome-details {
    font-size: 17px;
}

.image-welcome div:nth-child(2) {
    margin-top: 2rem;
}