html {
    /* 
     * block
     */

    /* font */
    font-size: 16px;
    font-family: "Times New Roman";
    font-stretch: normal;
    font-synthesis: style weight;
    
    /*
     * inline
     */
    
    /* text */
    hyphens: none;
    letter-spacing: normal;
    line-height: 1.2;
    word-break: keep-all;
    word-spacing: 0.25rem;
    writing-mode: horizontal-tb;
}