body {
    /* empty space */
    margin: 0;
    padding: 0;
    
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border: 2px solid black;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #aaa9ad;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #878787;
}

body::-webkit-scrollbar-track {
    background-color: #d3d3d3;
}