@import url('/styles/fonts/fontStyle.css');

html {
    /* 
     * block
     */

    /* font */
    font-size: 16px;
    font-family: 'Noto Sans KR', "Malgun Gothic", "맑은 고딕", "Times New Roman", sans-serif;
    font-synthesis: style weight;
    
    /* empty space */
    margin: 0;
    padding: 0;
    
    /*
     * inline
     */
    
    /* text */
    word-break: keep-all;
    word-spacing: 0.25rem;
    writing-mode: horizontal-tb;
}