@media screen and (max-width: 1250px) {
    #header .header-wrapContent {
        flex-flow: row wrap;
    }
    
    #header .header-wrapContent .link-home {
        margin-bottom: 0.5rem;
    }
    
    #gnbNav {
        margin-bottom: 0.5rem;
    }
    
    #header .header-wrapContent .header-clearLine.first-clearLine {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 650px) {
    #header .header-wrapContent .header-clearLine.second-clearLine {
        flex-basis: 100%;
    }
    
    #header .header-wrapContent .link-membership {
        padding-top: 4px;
    }

    #header .header-wrapContent .link-login {
        padding-top: 4px;
    }
    
    #header .header-wrapContent .div-login-function {
        padding-top: 4px;
    }
}

#header {    
    display: flex;
    width: calc(100vw - 12px);
    padding: 2rem 0;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    background: local padding-box #000980;
}

#header .header-wrapContent {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    column-gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

#header .header-wrapContent .link-home {
    display: flex;
    width: 100px;
}

#header .header-wrapContent .link-home .name-site {
    display: flex;
    font-size: 28px;
    font-weight: 700;
    color: white;
}

#gnbNav {
    display: flex;
    width: min-content;
}

#gnbNav .gnbNav-list {
    display: flex;
    width: inherit;
    column-gap: 6vw;
    justify-content: space-between;
}

#gnbNav .gnbNav-list .gnbNav-list-item {
    display: flex;
    width: min-content;
}

#gnbNav .gnbNav-list .gnbNav-list-item > a {
    display: flex;
    width: inherit;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

#header .header-wrapContent .header-clearLine {
    display: flex;
    width: 0;
    height: 0;
}

#gnbScb {    
    display: flex;
    position: relative;
    margin-right: 2rem;
    padding-right: 32px;
    width: 260px;
    height: 32px;
}

#gnbScb .gnbScb-wrapInput {
    display: flex;
    width: inherit;
    height: inherit;
    background-color: white;
}

#gnbScb .gnbScb-wrapInput .gnbScb-input {
    display: flex;
    position: absolute;
    z-index: 2;
    width: inherit;
    height: inherit;
    padding-left: 1rem;
    border: 2px solid #42414D;
    border-collapse: collapse;
}

#gnbScb #gnbScb-btn {
    display: flex;
    position: absolute;
    z-index: 3;
    width: 28px;
    height: 28px;
    left: 100%;
    border: none;
    border-spacing: 0;
    background: padding-box center/contain no-repeat transparent url(/images/others/magnifier.png);
    cursor: pointer;
}

#header .header-wrapContent .link-membership {
    display: flex;
    color: white;
    width: max-content;
    font-size: 16px;
    font-weight: 700;
}

#header .header-wrapContent .link-login {
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

#header .header-wrapContent .div-login-function {
    color: white;
    width: 120px;
    flex-direction: column;
}

#header .header-wrapContent .div-login-function #openDialogBtn {
    border: none;
    word-spacing: 0.5rem;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.header-wrapContent .div-login-function .dialog-login-function {
    margin-top: 6px;
    padding: 0.5rem;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 6px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
    color: black;
}

.header-wrapContent .div-login-function .dialog-login-function .form-login-function {
    width: 120px;
    border: none;
    cursor: pointer;
}

.div-login-function .dialog-login-function .form-login-function button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.div-login-function .dialog-login-function .form-login-function button:last-child {
    margin-top: 0.5rem;
}