<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name=”viewport” content=”width=device-width”>
    <title>[[#{site.title}]]</title>
    <link href="/styles/html-style.css" rel="stylesheet"/>
    <link href="/styles/body-style.css" rel="stylesheet"/>
    <link href="/styles/error-style.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <p>다음 [[#{member.ID}]]가 검색되었습니다.</p>
        <table>
            <tbody>
                <tr th:each="id : ${idList}">
                    <td th:text="${id}">ID</td>
                </tr>
            </tbody>
        </table>
        <form action="/login" method="get">
            <button type="submit">[[#{function.login}]]</button>
        </form>
        <form action="/" method="get">
            <button type="submit" th:text="|#{page.main}로 이동|"></button>
        </form>
    </div>
</body>
</html>