<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name=”viewport” content=”width=device-width”>
    <title>[[#{site.title}]]</title>
    <link href="/styles/html.css" rel="stylesheet"/>
    <link href="/styles/body.css" rel="stylesheet"/>
    <link href="/styles/error.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <p>[[#{member.NAME}]] / [[#{member.DATE}]]로 [[#{member.ID}]]를 찾습니다.</p>
        <form th:action th:object="${member}" method="POST">
            <div>
                <label for="name">[[#{member.NAME}]]</label>
                <input type="text" id="name" th:field="*{name}">
            </div>
            <div>
                <label for="year">[[#{year}]]</label>
                <input type="number" id="year" th:field="*{year}" min="1900" step="1" max="2024">
                <label for="month">[[#{month}]]</label>
                <input type="number" id="month" th:field="*{month}" min="1" step="1" max="12">
                <label for="days">[[#{date}]]</label>
                <input type="number" id="days" th:field="*{days}" min="1" step="1" max="31">
            </div>
            <button type="submit">[[#{function.find}]]</button>
        </form>
    </div>
</body>
</html>