<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <p class="intro-basic-form" th:text="|#{article} #{data.main}을 #{function.correct}합니다.|"></p>
    <p class="intro-basic-form" th:text="|해당 #{article.number} 또는 #{article.name}과 일치하는 #{article}가 확인되었습니다.|"></p>
    <form id="basicForm" th:action="${updateUrl}" th:object="${post}" method="POST">
        <div hidden class="txt-error-message" id="error-bean" th:value="#{BeanValidation}"></div>
        <div id="basicFormItems">
            <div class="basic-form-item">
                <label for="name" th:text="#{post.name}"></label>
                <input type="text" id="name" th:field="*{name}" size="20" readonly>
                <div hidden class="txt-error-message" id="error-name"></div>
            </div>
            <div class="basic-form-item">
                <label for="link" th:text="#{post.link}"></label>
                <input type="text" id="link" th:field="*{link}" size="20" readonly>
                <div hidden class="txt-error-message" id="error-link"></div>
            </div>
            <div class="basic-form-item">
                <label for="year" th:text="#{post.year}"></label>
                <input type="text" id="year" th:field="*{year}" size="20">
            </div>
            <div class="basic-form-item">
                <label for="month" th:text="#{post.month}"></label>
                <input type="text" id="month" th:field="*{month}" size="20">
            </div>
            <div class="basic-form-item">
                <label for="days" th:text="#{post.days}"></label>
                <input type="text" id="days" th:field="*{days}" size="20">
                <div hidden class="txt-error-message" id="error-date"></div>
            </div>
            <div class="basic-form-item">
                <label for="classification" th:text="#{post.classification}"></label>
                <input type="text" id="classification" th:field="*{classification}" size="20">
                <div hidden class="txt-error-message" id="error-classification"></div>
            </div>
            <div class="basic-form-item">
                <label for="targetName" th:text="#{post.targetName}"></label>
                <input type="text" id="targetName" th:field="*{targetName}" size="20">
                <div hidden class="txt-error-message" id="error-targetName"></div>
            </div>
            <div class="basic-form-item">
                <label for="targetImagePath" th:text="#{post.targetImagePath}"></label>
                <input type="text" id="targetImagePath" th:field="*{targetImagePath}" size="20">
                <div hidden class="txt-error-message" id="error-targetImagePath"></div>
            </div>
            <div class="post-target-article-content">
                <div class="basic-form-item post-target-article-name">
                    <label for="targetArticleName0" th:text="|#{post.targetArticleName}0|"></label>
                    <input type="text" id="targetArticleName0" size="20">
                    <div hidden class="txt-error-message" id="error-targetArticleNames"></div>
                </div>
                <div class="basic-form-item post-target-article-link">
                    <label for="targetArticleLink0" th:text="|#{post.targetArticleLink}0|"></label>
                    <input type="text" id="targetArticleLink0" size="20">
                    <div hidden class="txt-error-message" id="error-targetArticleLinks"></div>
                </div>
            </div>
        </div>
        <div class="basic-form-buttons">
            <button id="addBtn" type="button" th:text="|#{post.targetArticleContent} #{function.add}|"></button>
            <button id="removeBtn" type="button" th:text="|#{post.targetArticleContent} #{function.remove}|"></button>
            <button id="submitBtn" type="submit" th:text="#{function.register}"></button>
        </div>
    </form>
</div>
<!--suppress HtmlUnknownAttribute -->
<div hidden id="container-data"
     th:data-target-article-name="#{post.targetArticleName}"
     th:data-target-article-name-json="${post.targetArticleNames}"
     th:data-target-article-link="#{post.targetArticleLink}"
     th:data-target-article-link-json="${post.targetArticleLinks}">
</div>
<script defer type="module" src="/scripts/manager/processReceiveArticleNameAndLinkScript.js"></script>
<script defer type="module" src="/scripts/manager/processSubmitArticleNameAndLinkScript.js"></script>
</body>
</html>