<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::link}, ~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head><link/></head>
<body>
<div>
    <p th:text="|#{company}을 #{function.register}합니다.|"></p>
    <form th:action th:object="${company}" method="POST">
        <div th:if="${error} != null" th:classappend="txt-error-message">
            <p th:if="${error} == 'beanValidationError'" th:text="#{BeanValidation}"></p>
        </div>
        <div>
            <div class="partial-form">
                <label for="code" th:text="#{company.code}"></label>
                <input type="text" id="code" th:field="*{code}" size="20">
                <div class="txt-error-message" th:errors="*{code}"></div>
            </div>
            <div th:text="#{company.country}"></div>
            <select class="partialForm" th:field="*{country}">
                <option th:each="country : ${countries}" th:value="${country.name()}" th:text="${country.value}"></option>
            </select>
            <div class="txt-error-message" th:errors="*{country}"></div>
            <div th:text="#{company.scale}"></div>
            <select class="partialForm" th:field="*{scale}" >
                <option th:each="scale : ${scales}" th:value="${scale.name()}" th:text="${scale.value}"></option>
            </select>
            <div class="txt-error-message" th:errors="*{scale}"></div>
            <div class="partial-form">
                <label for="name" th:text="#{company.name}"></label>
                <input type="text" id="name" th:field="*{name}" size="20">
                <div class="txt-error-message" th:errors="*{name}"></div>
            </div>
            <div class="partial-form">
                <label for="firstCategory" th:text="#{company.firstCategory}"></label>
                <input type="text" id="firstCategory" th:field="*{firstCategory}" size="20">
                <div class="txt-error-message" th:errors="*{firstCategory}"></div>
            </div>
            <div class="partial-form">
                <label for="secondCategory" th:text="#{company.secondCategory}"></label>
                <input type="text" id="secondCategory" th:field="*{secondCategory}" size="20">
                <div class="txt-error-message" th:errors="*{secondCategory}"></div>
            </div>
        </div>
        <button type="submit" th:text="#{function.register}"></button>
    </form>
</div>
<script></script>
</body>
</html>