<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <p>[[#{company.code}]] 또는 [[#{company.name}]]을 통해 [[#{company}]]을 [[#{function.remove}]]합니다.</p>
    <form th:action method="POST">
        <div>
            <label th:for="codeOrName" th:text="#{company}"></label>
            <input type="text" th:id="codeOrName" th:name="codeOrName">
        </div>
        <button type="submit" th:text="#{function.remove}"></button>
    </form>
</div>
</body>
</html>