<!DOCTYPE html>
<html th:fragment="layout (div)" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name=”viewport” content=”width=device-width”>
    <title>[[#{site.title}]]</title>
    <link href="/styles/html-style.css" rel="stylesheet"/>
    <link href="/styles/body-style.css" rel="stylesheet"/>
    <link href="/styles/error-style.css" rel="stylesheet"/>
    <link href="/styles/manager/data/finish-submit-style.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="${div}"></div>
<form class="form-main-page" action="/manager" method="get">
    <button type="submit" th:text="|#{page.main}로 이동|"></button>
</form>
</body>
</html>