<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>힉스뷰 - 세상 경제사를 한눈에</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <link href="/styles/user/membershipStyle.css" rel="stylesheet"/>
        <form th:action method="post">
            <div>
                <div class="partialForm">
                    <label for="id">ID</label>
                    <input type="text" id="id" name="id" size="20">
                </div>
                <div class="partialForm">
                    <label for="password">password</label>
                    <input type="password" id="password" name="password" size="20">
                </div>
                <div class="partialForm">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" size="20">
                </div>
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
</body>
</html>