<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>[[#{site.title}]]</title>
    <link href="/styles/originalHtmlStyle.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <link href="/styles/user/membershipStyle.css" rel="stylesheet"/>
        <form th:action th:object="${member}" method="post">
            <div>
                <div class="partialForm">
                    <label for="id">[[#{member.ID}]]</label>
                    <input type="text" id="id" th:field="*{id}" size="20">
                </div>
                <div class="partialForm">
                    <label for="password">[[#{member.PW}]]</label>
                    <input type="password" id="password" th:field="*{password}" size="20">
                </div>
                <div class="partialForm">
                    <label for="name">[[#{member.NAME}]]</label>
                    <input type="text" id="name" th:field="*{name}" size="20">
                </div>
                <p>생일</p>
                <div class="partialForm">
                    <label for="year">[[#{year}]]</label>
                    <input type="text" id="year" th:field="*{year}" size="4">
                    <label for="month">[[#{month}]]</label>
                    <input type="text" id="month" th:field="*{month}" size="4">
                    <label for="days">[[#{days}]]</label>
                    <input type="text" id="days" th:field="*{days}" size="4">
                </div>
                <div class="partialForm">
                    <label for="phoneNumber">[[#{member.cellphoneNumber}]]</label>
                    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" size="13">
                </div>
            </div>
            <button type="submit">[[#{function.register}]]</button>
        </form>
    </div>
</body>
</html>