<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div}, ~{::script})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <p class="intro-basic-form" th:text="|#{company}을 #{function.correct}합니다.|"></p>
    <p class="intro-basic-form" th:text="|해당 #{company.code} 또는 #{company.name}에 해당하는 #{company}이 확인되었습니다.|"></p>
    <form id="basicForm" th:action="${updateUrl}" th:object="${company}" method="POST">
        <div th:if="${error} != null" th:classappend="txt-error-message">
            <p th:if="${error} == 'beanValidationError'" th:text="#{BeanValidation}"></p>
        </div>
        <div id="basicFormItems">
            <div class="basic-form-item">
                <label for="code" th:text="#{company.code}"></label>
                <input type="text" id="code" th:field="*{code}" size="20" readonly>
                <div class="txt-error-message" th:errors="*{code}"></div>
            </div>
            <div th:text="#{company.listedCountry}"></div>
            <select class="basic-form-item basic-form-select-item" th:field="*{listedCountry}">
                <option th:each="listedCountry : ${listedCountries}" th:value="${listedCountry.name()}" th:text="${listedCountry.value}"></option>
            </select>
            <div class="txt-error-message" th:errors="*{listedCountry}"></div>
            <div th:text="#{company.scale}"></div>
            <select class="basic-form-item basic-form-select-item" th:field="*{scale}">
                <option th:each="scale : ${scales}" th:value="${scale.name()}" th:text="${scale.value}"></option>
            </select>
            <div class="txt-error-message" th:errors="*{scale}"></div>
            <div class="basic-form-item">
                <label for="name" th:text="#{company.name}"></label>
                <input type="text" id="name" th:field="*{name}" size="20" readonly>
                <div class="txt-error-message" th:errors="*{name}"></div>
            </div>
            <div class="basic-form-item">
                <label for="firstCategory" th:text="#{company.firstCategory}"></label>
                <input type="text" id="firstCategory" th:field="*{firstCategory}" size="20">
                <div class="txt-error-message" th:errors="*{firstCategory}"></div>
            </div>
            <div class="basic-form-item">
                <label for="secondCategory" th:text="#{company.secondCategory}"></label>
                <input type="text" id="secondCategory" th:field="*{secondCategory}" size="20">
                <div class="txt-error-message" th:errors="*{secondCategory}"></div>
            </div>
        </div>
        <div class="basic-form-buttons">
            <button id="submitBtn" type="submit" th:text="#{function.correct}"></button>
        </div>
    </form>
</div>
<script></script>
</body>
</html>