<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::div})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <p>[[#{company}]]을 [[#{function.correct}]]합니다.</p>
    <p>[[#{company.code}]] 또는 [[#{company.name}]]을 통해 [[#{company}]]을 [[#{function.search}]]합니다.</p>
    <form th:action method="POST">
        <div th:if="${error} != null" th:classappend="txt-errorMessage">
            <span th:if="${error} == 'notFoundCompanyError'" th:text="#{NotFound.company}"></span>
        </div>
        <div>
            <div class="partial-form">
                <label for="codeOrName">[[#{company.code}]] 또는 [[#{company.name}]]</label>
                <input type="text" id="codeOrName" name="codeOrName" size="20">
            </div>
        </div>
        <button type="submit" th:text="#{function.search}"></button>
    </form>
</div>
</body>
</html>