.companyListWrapper {
    /* 
     * block
     */
    
    /* empty space */
    margin: 120px auto 80px;

    /* positioning */
    display: grid;

    /* size */
    width: calc(100vw - 14px);
    height: 600px;
    
    /* 
     * Grid layout
     */
    grid-gap: 0;
    grid-template-rows: 600px;
    grid-template-columns: calc(100vw - 14px);
}

.firstLayer {
    /* 
     * block
     */
    
    /* positioning */
    display: grid;

    /* size */
    width: inherit;
    height: 600px;
    
    /* 
     * Grid layout
     */

    /* sorting */
    place-content: center;
    place-items: center;

    grid-area: 1 / 1 / 2 / 2;
    grid-gap: 0;
    grid-template-rows: 600px;
    grid-template-columns: repeat(4, calc((100vw - 14px) / 4));
}

.row1 {
    /* 
     * block
     */
    
    /* positioning */
    display: flex;

    /* size */
    width: calc((100vw - 14px) / 4);
    height: 600px;
    
    /* 
     * flex layout
     */

    /* sorting */
    place-content: center;
    place-items: center;
    
    flex-flow: column nowrap;
}

.row1 > h3, .row1 > p {
    /* 
     * block
     */
    
    /* empty space */
    margin: 20px;

    /* positioning */
    display: inline-flex;

    /* size */
    width: calc((100vw - 14px) / 4);
    height: min-content;
    
    /* sortind */
    place-content: center;
    place-items: center;
    
    /*
     * inline
     */
    
    /* font */
    font-size: 21px;
    font-weight: 700;
    color: #2D2A40;
}

.row1 > p {
    /*
     * inline
     */
    font-size: 18px;
}

.row1 > a {
    /* 
     * block
     */
    
    /* empty space */
    margin: 20px;

    /* positioning */
    display: inline-flex;

    /* size */
    width: calc((100vw - 14px) / 4);
    height: 160px;
    
    /* sortind */
    place-content: center;
    place-items: center;
    
    /*
     * inline
     */
    
    /* font */
    text-decoration: none;
}