<!DOCTYPE html>
<html th:replace="~{${layoutPath} :: layout(~{::form})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action method="POST">
    <div>
        <div>
            <label for="subjectCompany" th:text="#{article.subjectCompany}"></label>
            <input type="text" id="subjectCompany" name="subjectCompany">
        </div>
        <div>
            <label for="articleString" th:text="|#{data.multiple} #{article}|"></label>
            <textarea id="articleString" name="articleString" spellcheck="false" wrap="soft"></textarea>
        </div>
        <div>
            <label for="linkString" th:text="|#{data.multiple} #{article.link}|"></label>
            <textarea id="linkString" name="linkString" spellcheck="false" wrap="soft"></textarea>
        </div>
        <div th:if="${error} != null" th:classappend="fieldError">
            <th:block th:switch="${error}">
                <p th:case="companyNotFoundError" th:text="#{NotFound.CompanyArticle.subjectCompany}"></p>
                <p th:case="notMatchLinkError" th:text="#{NotMatch.link}"></p>
                <p th:case="indexOutOfBoundError" th:text="#{Size.java.util.List}"></p>
            </th:block>
        </div>
    </div>
    <button type="submit" th:text="#{function.add}"></button>
</form>
</body>
</html>